/* addStyle */
.subDescripe {
    color: #000;
    font-weight: 500;
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 20px;
}
.subDescripe a {
    color: #000;
    position: inherit;
    font-size: 1.6rem;
    text-decoration: underline;
    font-weight: 700;
}

@media (max-width:1480px) {
    .subDescripe {
        display: block;
        margin: 10px 0;
        margin-left: 0;
    }
}
@media (max-width:768px) {
    .subDescripe {
        display: flex;
    }
}
.rewardList {    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.rewardList-item {
    display: flex;
    align-items: center;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 20px;
}
.rewardList-item .caption {
    padding-left: 15px;
}

.rewardList-item .title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 500;
}
.rewardList-item span {
    font-size: 1.1rem;
}

.rewardList-item .badege img {
    width: 83px;
}

.rewardList-item.nohav .badege img {
    filter: grayscale(100%);
}

.history {
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width:992px) {
    .rewardList-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }    
}
@media (max-width:768px) {
    .rewardList {          
        width: 85%;
        margin: 0 auto 3rem;
    }
    .rewardList-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }    
}


.prizeList {    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.prizeList-item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 20px;
    text-align: center;
}
.prizeList-item img {
    max-width: 100%;
}
.prizeList-item .info {
    margin: 10px 0;
}
.prizeList-item .info .title {
    margin-bottom: 10px;
}
.prizeList-item .info .title a {
    color: #169bcc;
    font-size: 1.2rem;
    font-weight: 500;
}
.prizeList-item .info .point {
    color: red;
    margin-bottom: 8px;
}
@media (max-width:992px) {
    .prizeList-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }    
}
@media (max-width:768px) {
    .prizeList-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }    
}


/* magnific-popup */
.white-popup-block {
    background: #FFF;
    padding: 25px;
    margin: 40px auto;
    position: relative;
}
.mfp-cont-iframe .mfp-iframe-holder .mfp-content {
    max-width: 1000px;
}
.mfp-cont-iframe .mfp-iframe-scaler iframe,
.mfp-cont .mfp-iframe-scaler iframe {
    background: #fff;
}
/* start state */
.mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
}

#popup-confirmExchange {
    width: 600px;
}

#popup-confirmExchange p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}
#popup-confirmExchange p span {
    font-weight: 500;
    padding: 0 5px;
}
#popup-confirmExchange .btn-group {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
#popup-confirmExchange .btn-group>* {
    margin: 0.25rem;
}
#popup-confirmExchange .btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #212529;
    border: 1px solid #6c757d;
    padding: 0.375rem 1.5rem;
}
#popup-confirmExchange .btn-yes {
    color: #fff;
    background-color: #7f181c;
    border-color: #7f181c;
}