.search-wrap .row {
    align-items: end;
}

.search-wrap {
    background: #f9f9f9;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: #bfbfbf 0px 0px 4px;
}

.search-wrap .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-submit,
.btn-search {
    color: #fff;
    background: #AA2C34;
    padding: 0.2rem 0.75rem;
    font-size: 1.2rem;
    margin: 0px 0 1.2rem;
    border-radius: 0.25rem;
}

.btn-search:not(:disabled):not(.disabled).active,
.btn-search:not(:disabled):not(.disabled):active,
.show>.btn-search.dropdown-toggle,
.btn-search:active,
.btn-search:focus,
.btn-search:hover,

.btn-submit:not(:disabled):not(.disabled).active,
.btn-submit:not(:disabled):not(.disabled):active,
.show>.btn-submit.dropdown-toggle,
.btn-submit:active,
.btn-submit:focus,
.btn-submit:hover {
    color: #fff;
    background: #721419;
}

/* chart-search */
.chart-search {
    margin-bottom: 1rem;
}

.chart-search .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.chart-search .form-group {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.chart-search .form-group label {
    margin-right: 1rem;
    font-size: 1rem;
}

@media (min-width:768px) {
    .chart-search {
        position: relative;
        z-index: 1;
    }
}

@media (max-width:600px) {
    .chart-search .form-inline {
        flex-flow: column;
    }

    .chart-search .title {
        margin-right: 0;
    }

    .chart-search .form-inline .form-group {
        margin-right: 0;
        width: 100%;
    }
}


/* nav-slider */
.nav-slider {
    position: relative;
    width: 100%;
    list-style: none;
    text-align: center;
}

.nav-slider.fixed {
    width: calc(100% - 20px);
    position: fixed;
    z-index: 2;
    top: 65px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.section-nav {
    margin: 0;
    height: auto;
    padding-inline-start: 0;    
    border: none;    
    flex-wrap: inherit;
}
.section-nav li {
    width: auto;
}

.section-nav li a {
    padding: 1rem 0;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Noto Serif TC', serif;
    text-decoration: none;
    transition: all 0.2s ease;
}

.section-nav li a:hover {
    color: #000;
}

.section-nav li a.active,
.section-nav li.active a {
    border-bottom: 2px solid #333;
}

.nav-slider div[class*='swiper-button-'] {
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 0;
    top: 0;
    margin-top: 0;
    line-height: 4rem;
    z-index: 1;
    display: none;
}

.nav-slider div[class*='swiper-button-']::before {
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.nav-slider .swiper-button-next {
    right: 0;
    background: #f3f2f0;
    background: -moz-linear-gradient(right, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    background: -webkit-linear-gradient(right, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    background: linear-gradient(to left, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f000', endColorstr='#f3f2f0e6', GradientType=1);
}

.nav-slider .swiper-button-next::before {
    right: -15px !important;
}

.nav-slider .swiper-button-prev {
    left: 0;
    background: #f3f2f0;
    background: -moz-linear-gradient(left, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    background: -webkit-linear-gradient(left, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    background: linear-gradient(to right, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.9) 60%, rgba(230, 230, 230, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f000', endColorstr='#f3f2f0e6', GradientType=1);
}

.nav-slider .swiper-button-prev::before {
    left: -15px !important;
}

@media(min-width:1024px) {
    .section-nav li a {
        font-size: 1.2rem;
    }
}


.section-nav .nav-top .nav-link::before {
    content: "\f341";
    font-family: 'Font Awesome 5 Pro';
    /*font-family: 'npacfont';
    content: '\EA5A';/*gotop*/
    margin-right: .5rem;
}

@media(min-width:960px) {

    .nav-slider .btn-collapse {
        display: none;
    }

    .nav-slider div[class*='swiper-button-'] {
        display: none;
    }

    .subnav-nav {
        list-style: none;
        text-align: center;
    }

    .nav-slider.fixed {
        width: calc(73% - 18px);
        top: 30px;
        background: #ededed;
    }

    .section-nav {
        margin: 0 auto;
        list-style: none;
        text-align: center;
    }

    .fixed .section-nav {
        width: 100%;
    }

    .section-nav li {
        display: inline-block;
    }

    .fixed .section-nav .nav-top {
        -ms-flex-positive: 2;
        flex-grow: 2;
    }
}

@media(max-width:959px) {
    .nav-slider:not(.anchor-wrap) .swiper-container {
        /* width: calc(100% - 45px) !important */
        margin: 0;
    }

    .nav-slider .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: auto;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .subnav-wrap .subnav-nav li a {
        padding: 1rem !important;
    }

    .nav-slider .btn-collapse {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 10px 8px;
        line-height: 36px;
        outline: 0;
        outline: 0;
        box-shadow: none;
    }

    .nav-slider .btn-collapse[aria-expanded="true"] {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.section-nav li a {
    padding: 1rem;
}

#navCollapse {
    background: #fff;
    padding: 10px 0;
}

#navCollapse .section-nav {
    display: block;
}

#navCollapse .swiper-slide {
    text-align: left;
    justify-content: left;
}

#navCollapse .section-nav li a {
    width: 100%;
    padding: 5px 40px 5px 15px;
    position: relative;
}

#navCollapse .section-nav li a.active
#navCollapse .section-nav li.active a, {
    border: none;
    color: #d20031;
}

#navCollapse .section-nav li.active a::after {
    /* content: "\EABE"; */
    /* font-family: "npacfont"; */
    content: "\f060";
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* subnav */
.subnav-wrap {
    position: relative;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    padding: 15px 15px 0;
    background: #ededed;
}
.subnav-wrap .subnav-nav a {
    font-weight: normal;
    color: #333;
    font-size: 1rem;
    font-family: "Microsoft JhengHei", "LiHei Pro", sans-serif;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 1rem;
}

.subnav-wrap .subnav-nav a:hover {
    color: #000;
}

.subnav-wrap .subnav-nav li a.active,
.subnav-wrap .subnav-nav li.active a,
.subnav-wrap .subnav-nav li a:hover {
    border-bottom: none;
    background: #fff;
}


@media(max-width:768px) {
    .subnav-wrap .subnav-nav a {
        border-bottom: transparent solid 2px;
    }

    .subnav-wrap .subnav-nav li a.active,
    .subnav-wrap .subnav-nav li.active a,
    .subnav-wrap .subnav-nav li a:hover {
        color: #000;
        font-weight: bold;
        background: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        filter: none !important;
        border-bottom: 2px solid #444;
    }

    .subnav-wrap .section-nav .nav-item+.nav-item {
        border: none;
    }
}

/* tabcont */
.card .dataTables_wrapper {
    width: 100%;
}