/*==================================================================
| Author Email: elaine.love.design@gmail.com                       |
| Designer: Elaine Chu                                             |
==================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&family=Noto+Serif+TC:wght@300;600&display=swap');

:root {
    --font-Sans: 'Noto Sans TC', sans-serif;
    --font-Serif: 'Noto Serif TC', serif;
    --font-Size: 1.2em;
    --font-Title: 3rem;
    --font-p: 1.5rem;
    --normalBlue: #214787;
    --normalYellow: #ffe761;
    --normalOrange: #fbb03b;
}

* {
    font-family: var(--font-Sans);
}

a:focus {
    outline: 2px dotted black !important;
}

/* common */
.affix {
    position: fixed !important;
    top: 0;
    z-index: 2;
}

img {
    max-width: 100%;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-1-5 {
    width: 100%;
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.btn-primary {
    border-color: var(--normalBlue);
    background: var(--normalBlue);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #000;
    border-color: #000;
}

.btn-outline-primary {
    border-color: var(--normalBlue);
    color: var(--normalBlue);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    border-color: var(--normalBlue) !important;
    background: var(--normalBlue) !important;
    color: #fff;
}

.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    background: var(--normalBlue);
    color: #fff;
    box-shadow: none;
}

.alert-primary {
    background: #f0fbff;
    border-color: #f0fbff;
}

.alert-primary h3 {
    font-size: 1.4rem;
}

@media (max-width:991px) {
    .container {
        max-width: 100%;
    }
}

/* header */
header {
    width: 100%;
    background: #fff;
    border-top: var(--normalBlue) solid 10px;
    box-shadow: rgba(0, 27, 61, 0.2) 0px 0px 10px;
}

header .navbar {
    padding: 0;
}

header .navbar>.container {
    margin: 0 auto;
}

/* header .navbar img {
    width: 286px;
} */

.topNav {}

.topNav .container {
    justify-content: end;
}

.topNav .navbar-nav li {
    display: flex;
    align-self: center;
    line-height: 2rem;
}

.topNav .navbar-nav li span {
    align-items: center;
    display: flex;
    margin: 0 10px;
}

.topNav .navbar-nav li+li::before {
    content: '│';
    display: flex;
    align-items: center;
    color: #000;
}

.topNav .navbar-nav .nav-link {
    color: #4d4d4d;
}

.navbar-light .topNav .navbar-nav :not(.fontset) .nav-link.active,
.navbar-light .topNav .navbar-nav :not(.fontset) .nav-link:hover {
    color: var(--normalBlue);
}

.topNav .navbar-nav [class*='font-'] {
    border: #999 solid 1px;
    border-radius: 50%;
    padding: 0px 8px 0px;
    margin: 0 3px;
    display: flex;
    align-items: center;
}

.topNav .navbar-nav [class*='font-']:hover,
.topNav .navbar-nav [class*='font-'].active {
    color: #fff;
    background: #150186;
    border-color: #150186;
    font-weight: bold;
}

.navbar-light .navbar-nav .btn-language:focus,
.navbar-light .navbar-nav .btn-language:hover {
    color: #fff;
}

/* .navbar-brand img {
    max-width: 100%;
    width: 340px;
} */

.topNav .nav-item.language .nav-link,
.topNav .nav-item.search .nav-link,
.topNav .nav-item.dropdown .nav-link {
    border: #999 solid 1px;
    border-radius: 50%;
    padding: 8px 9px 9px;
    margin: 0 3px;
    display: flex;
    align-items: center;
}

.topNav .nav-item.search::before,
.topNav .dropdown-toggle::after,
.topNav .nav-item.dropdown::before {
    display: none;
}

.topNav .nav-item.search {
    position: relative;
}

.topNav .nav-item.search .nav-link+div {
    position: absolute;
    right: 0;
    top: 50px;
    width: 500px;
}

@media (min-width: 768px) {
    .topNav .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
@media (max-width:991px) {
    .topNav .nav-item.search .nav-link+div {
        width: 100vw;
        display: block;
        top: inherit;
        position: fixed;
        left: 0;
        margin-top: 40px;
        opacity: 0;
    }
    .topNav .nav-item.search .nav-link+div.show {
        opacity: 1;
        z-index: 1;
    }
}
@media (max-width: 767px) {
    .topNav .navbar-nav {
        text-align: center;
    }
    .topNav.dropdown:hover .dropdown-menu {
        display: none;
        margin-top: auto;
    }
    .topNav .navbar-nav {
        display: block;
    }
    .topNav .navbar-nav li {
        justify-content: center;        
        display: inline-flex;
    }
    .topNav .navbar-nav li.language,    
    .topNav .navbar-nav li.search {

    }
    .topNav .navbar-nav li.language .nav-link,    
    .topNav .navbar-nav li.search .nav-link {
        border-radius: 10px;
        padding: 0 0 0 10px;
    }
}

@media (min-width: 992px) {
    header .navbar-expand-lg .navbar-collapse {
        display: -ms-block !important;
        display: block !important;
    }

    header {
        border: none;
    }

    header .navbar {
        padding: 0;
        padding-top: 35px !important;
    }

    .topNav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 0;
    }
}

@media (max-width:991px) {
    #Nav {
        margin: 10px -15px -15px;
        background: var(--normalBlue);
        color: #fff;
    }

    header {
        padding: 10px 20px;
    }

    .topNav .navbar-nav {
        width: 100%;
    }
}
/* @media (max-width:540px) {
    header .navbar img {
        width: 65vw;
    }
} */

header .collapse .navbar-expand-lg .navbar-nav {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

header .navbar-nav.nav-fill {
    background: #e5ddce;
}

header .collapse .container:nth-child(2) {
    align-items: end;
}

header .navbar-brand+.navbar-nav,
header .navbar-brand+.navbar-nav .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto !important;
    text-align: center;
}

header .navbar-brand+.navbar-nav {
    padding: 0.75rem 0;
}
header .navbar img.logo {
    width: 80px;
    height: fit-content;
}

header .navbar-brand {
    display: flex;
}
header .navbar-brand .text {
    padding-left: 10px;    
    margin-top: 2px;
}
header .navbar-brand .text span {
    display: block;
}
header .navbar-brand .text .title {
    font-size: 1.4rem;
    font-weight: bold;
}
header .navbar-brand .text .title-en {
    font-size: .8rem;
    color: #2b78b5;    
    margin-top: -5px;
}

#mainNav {
    font-size: 1.2rem;
    font-family: var(--font-Sans);
    letter-spacing: 1px;
}

#mainNav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #424242;
    font-weight: bold;
}

#mainNav .active .nav-link,
#mainNav .nav-link:hover {
    color: #0051a1;
}

@media (min-width:1600px) {
    header>nav>.container {
        max-width: 75vw;
    }

    header .navbar-nav.nav-fill {
        padding: 10px 10vw;
    }
}

@media (min-width:1024px) {
    header>nav>.container>.navbar-brand {
        display: none;
    }

    header .collapse .container:first-child {
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0;
    }

    header .collapse .container:nth-child(2) {
        margin-top: -2.5rem;
        padding-left: 0;
        padding-right: 0;
    }
}


@media (max-width:1280px) {
    header>nav>.container>.navbar-brand {
        display: none;
    }
}

@media (max-width:1199px) {
    .info-data {
        display: block;
    }

    .info-data .tag {
        margin-left: 0;
        display: block;
    }

    .news-slider {
        max-height: inherit;
    }
}

@media (max-width:1023px) {
    .social-wrap {
        display: none;
    }

    header .collapse .container:first-child {
        justify-content: end;
    }
}

@media (max-width:991px) {
    header>nav>.container>.navbar-brand {
        display: flex;        
        align-items: center;
    }
    header .navbar img.logo {
        width: 60px;
    }
        
    header>nav>.container>.navbar-brand .text {
        margin-top: -2px;
    }

    .navbar-collapse .navbar-brand {
        display: none;
    }

    #mainNav .nav-link {
        color: #fff;
    }

    #mainNav .active .nav-link,
    #mainNav .nav-link:hover {
        color: var(--normalYellow);
    }

    header .collapse .container:first-child {
        justify-content: center;
    }

    .topNav {
        background: #fff;
    }

    .topNav .navbar-nav {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}
@media (max-width:768px) {
    .topNav {
        padding: 0 0 20px;
    }
}
@media (max-width:414px) {
    header>nav>.container>.navbar-brand .text {
        margin-top: 2px;
    }
    header .navbar-brand .text .title {
        font-size: 1.2rem;
    }
    header .navbar-brand .text .title-en {
        font-size: .7rem;
    }
    header .navbar img.logo {
        width: 42px;
    }
}

/* jumbotron */
.jumbotron {
    border: none;
    background: transparent;
    border-radius: 0;
    padding: 3rem 0 1rem;
    align-items: center;
}

.jumbotron h1 {
    color: var(--normalBlue);
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
}
.jumbotron nav {
    display: inline-block;
    margin: 20px 0 0;
}

@media (max-width:991px) {
    .jumbotron {
        padding: 1rem;
        margin: 0 auto;
        width: 100%;
    }

    .jumbotron h1 {
        margin: 1rem 0;
    }
    .jumbotron nav {
        margin: 0;
    }
}

/* breadcrume */
.breadcrumb {
    background: #81b0fc;
    padding: 10px 20px;
    padding-inline-start: 20px;
    margin: 0;
    border-radius: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #fff;
}

.breadcrumb-item a,
.breadcrumb-item.active {
    color: #fff;
}

@media (max-width:991px) {
    .breadcrumb {
        margin: 0 auto;
        width: fit-content;
    }
}

/* main-content */
.main-content {
    background: #fff;
    box-shadow: rgba(0, 27, 61, 0.2) 0px 0px 10px;
    min-height: 500px;
    border-radius: 15px;
    overflow: auto;
}

.page-header {
    background: var(--normalBlue);
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.page-header p {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0;
}

.page-header .nav-link {
    color: #D1DAE8;
    font-size: 1.4rem;
}

.page-header .active .nav-link {
    color: #FBE600;
}

@media (max-width:768px) {
    .page-header {
        padding: 10px 20px;
    }
}

/* step */
:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.step-wrap {
    margin: 0;
}

.step-cont {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}
.step-cont li + li {
    padding-left: 15px;
}

.step-cont li a {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    position: relative;
}

.step-cont li a:hover {
    text-decoration: none;
}

.step-cont li .icon {
    content: "";
    display: block;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    padding: 2px 15px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #d1dae8;
    border: #d1dae8 solid 2px;
}

.step-cont li:not(:last-child) a:after {
    content: "";
    position: relative;
    z-index: 0;
    height: 2px;
    background-color: #d1dae8;
    margin-right: 0.5rem;
    width: 50px;
    display: none;
}

.step-cont li a[href^="javascript:void(0)"] {
    cursor: auto;
}

.step-cont li .title {
    color: #f5f5f5;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

.step-cont li.finish .icon {
    background: rgba(21, 1, 134, 0.7);
    color: #fff;
    border-color: #fff;
}

.step-cont li.current .icon {
    background: #fbc500;
    color: var(--normalBlue);
    border-color: #fbc500;
}

.step-cont li.finish .title {
    color: #fff;
}

.step-cont li.current .title {
    color: #fbe600;
}

.step-cont li.finish a {
    cursor: pointer;
}

.step-cont li.finish a:hover .icon {
    background: transparent;
    color: #fff;
}

@media (max-width:991px) {
    .step-cont li .icon {
        padding: 1px 14px;
    }
}

@media (max-width:842px) {
    .step-cont li .icon {
        font-size: 1.4rem;
        padding: 1px 13px;
    }
}

@media (max-width:767px) {

    .step-cont li + li {
        padding-left: 0;
    }
    .step-cont {
        display: block;
    }

    .step-cont li {
        padding: 0 0 10px;
        display: flex;
        justify-content: center;
    }

    .step-cont li:last-child {
        padding-bottom: 0;
    }
    .step-cont li a {
        display: flex;
    }

    /* .step-cont li:not(:last-child) {
        padding: 0px 0 40px;
    } */

    .step-cont li .icon {
        float: left;
        margin-right: 10px;
    }

    .step-cont li:not(:last-child) a:after {
        position: absolute;
        width: 2px;
        height: 20px;
        left: 18px;
        margin-top: 15px;
    }

    .step-cont li .icon {
        font-size: 1.2rem;
        padding: 3px 12px;
        width: 38px;
        height: 38px;
    }
}


/* main */
body:not(.index) main>.container>.searchArea,
body:not(.index) main>.container>.formArea {
    margin-top: -3.5rem;
}

body:not(.index) main>.container>.accesskey,
body:not(.index) main>.container>.accesskey {
    position: absolute;
    top: -2rem;
    color: #fff;
}

body:not(.index) main>.container>.searchArea.affix {
    margin-top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.73);
    left: 0;
    top: 0;
    padding: 1rem;
}

body:not(.index) main>.container>.searchArea.affix>* {
    width: 1140px;
    margin: auto;
    max-width: 100%;
}

body:not(.index) main>.container>.searchArea.affix>*+* {
    margin-top: 20px;
}
@media (max-width:768px) {
    .accesskey {
        display: none;
    }
}
body {}

main {
    position: relative;
    min-height: 80vh;
    padding-bottom: 3rem;
}

main::before {
    content: '';
    display: block;
    background: url(../images/bg-body-top.png) no-repeat 90%;
    mix-blend-mode: darken;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;
}

main::after {
    content: '';
    display: block;
    background: url(../images/bg-body-bottom.png) no-repeat center 5px;
    width: 100%;
    height: 860px;
    position: absolute;
    bottom: 0;
    z-index: -2;
}

@media (min-width: 1440px) {
    .container {
        max-width: 75vw;
    }
}

@media (max-width: 1399px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
}


/* link-wrap */
.link-wrap {
    padding: 2rem 0 1rem;
}
.link-wrap figure {
    margin:0;
}

.link-wrap .item {
    position: relative;
    height: fit-content;
    display: block;
    overflow: hidden;
    box-shadow: rgba(0, 27, 61, 0.8) 0px 0px 10px;
    margin-top: 2rem;
}

.link-wrap .caption {
    text-align: right;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--normalBlue);
    width: 100%;  
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.2s linear;
}

.link-wrap .item:hover .caption {
    background: var(--normalOrange);
}

.link-wrap .caption i {
    margin-left: 10px;
}

.link-wrap .item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.link-wrap .item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media (max-width:450px) {
    .link-wrap {
        padding: 0;
    }
    .link-wrap .caption {
        font-size: 1.4rem;        
        padding: 10px 15px;
    }
}

/* subject-wrap */
.subject-wrap {
    margin: 2rem 0;
    overflow: auto;
}

.subject-wrap .form-row {
    margin: 0 2rem;
    align-items: center;
}

.subject-wrap .form-group {
    padding: 20px 10px 0;
    align-items: anchor-center;
}

.subject-wrap .form-group:nth-child(odd) {
    background: #f2f7ff;
}

.subject-wrap .form-check {
    margin-bottom: 20px;
}

form .col-form-label,
form .form-check-label {
    font-size: 1.1rem;
}

.subject-wrap .col-form-label {
    color: #000;
    text-align: center;
    background: var(--normalYellow);
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 20px;
    float: left;
}

.form-check-input {
    margin-top: .4rem;
    transform: scale(1.25);
}

.form-actions {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.form-actions .btn {
    border-radius: 10px;
}

.form-actions .btn+.btn {
    margin-left: 10px;
}

.btn.disabled {
    color: #000;
    background: #f2f2f2;
}

.btn-back,
.btn-next {
    background: #fbb03b;
}

.btn-back:not(.disabled):hover,
.btn-next:not(.disabled):hover {
    background: #ff9d00;
}
@media (max-width:575px) {
    .subject-wrap .col-form-label {
        float: none;
        display: block;
    }
}
/* doctor-wrap */
.doctor-wrap {
    padding: 30px 40px;
}
.input-group-append .btn {
    position: relative;
    z-index: 1;
}
/* .doctor-wrap .row {
    margin: 0;
}
.doctor-wrap .row [class*="col-"] {
    padding: 0;
} */
.doctor-wrap .row [class*="col-"] {
    margin-bottom: 15px;
}

.doctor-wrap .item {
    background: #F2F7FF;
    border-radius: 10px;
}

.doctor-list .row {
    margin-bottom: 10px;
}

.btn-doctor {
    color: #173360;
    font-weight: bold;
    display: block;
    padding: 15px 20px;
    text-align: left;
    border: #F2F7FF solid 2px;
    border-radius: 10px;
}

.btn-doctor:hover {
    color: #173360;
}

.doctor-wrap .item.active .btn-doctor,
.doctor-wrap .item:hover .btn-doctor {
    border-color: #173360;
}

.doctor-wrap .btn-detail {
    color: #173360;
    background: #D6E6FF;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 22px;
    font-size: 1.2rem;
    border: #d6e7fe solid 2px;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

.doctor-wrap .item.active .btn-detail,
.doctor-wrap .item:hover .btn-detail {
    border-color: #173360;
}

@media (max-width:414px) {
    .doctor-wrap .row [class*="col-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* info-popup */
.info-popup {
    width: 100%;
    display: none;
    background: #fff;
    box-shadow: 0 5px 20px rgba(6, 43, 86, 0.19);
    border-radius: 7px;
    padding: 15px 20px;
    position: absolute;
    margin-top: 5px;
    z-index: 1;
}

.info-popup .name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-popup .tag {
    text-align: center;
    background: #FFE761;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
}

.info-popup .close {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    right: 15px;
    top: 17px;
}

.info-popup .btn-link {
    display: block;
    color: var(--normalBlue);
    border: var(--normalBlue) solid 2px;
    border-radius: 16px;
    margin-top: 10px;
    font-weight: 500;
}

.info-popup .btn-link:hover {
    color: #fff;
    background: var(--normalBlue);
    text-decoration: none;
}


/* location-wrap */
.location-wrap {
    margin-top: 20px;
}

.location-wrap .nav-item+.nav-item {
    margin-left: 15px;
    margin-bottom: 10px;
}

.location-wrap .nav-link {
    color: var(--normalBlue);
    border: var(--normalBlue) solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.location-wrap .nav-link:active,
.location-wrap .nav-link.active,
.location-wrap .active .nav-link {
    color: #fff;
    background: var(--normalBlue);
}
@media (max-width:991px) {
    .location-wrap .nav-item {
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .location-wrap .nav-item+.nav-item {
        margin-bottom: 0;
    }
    .location-wrap .nav-item+.nav-item {
        margin-left: 0;
        margin-right: 0;
    }
}
/* subject-list */
.subject-list {
    margin: 30px 40px;
}

.subject-list h2 {
    color: var(--normalBlue);
    font-size: 1.4rem;
}

.subject-list h2::before {
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 0;
}

.subject-list h2 span {
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 10px;
    margin-left: 35px;
}

.subject-list .btn-type {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    /* border-color: var(--normalBlue); */
    color: var(--normalBlue);
    padding: 1rem;
    background: #dff6ff;
}

.subject-list .btn-type:hover {
    color: #000;
    border-color: var(--normalYellow);
    background: var(--normalYellow);
}
@media (max-width:991px) {
    .subject-list h2 {
        border-bottom: var(--normalBlue) solid 2px;
        padding-bottom: 10px;
        padding-left: 0;
        margin-bottom: 1rem;
    }
    .subject-list h2 span {
        background: transparent;
        margin: 0;
        padding: 0;
    }
    .subject-list h2::before{
        display: none;
    }
    .subject-list .btn-type {
        margin-bottom: 1rem;
    }
}

/* booking-wrap */
.booking-wrap {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.booking-wrap>.btn {
    width: 40px;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.15);
}
.booking-wrap>.btn.affix {
    position: fixed;
    z-index: 3;
    top: 40vh;
}
.booking-wrap>.btn-next.affix {
    right: 20px;
}
.booking-wrap>.btn-back.affix {
    position: fixed;
    left: 20px;
    z-index: 1;
    top: 40vh;
}
.booking-wrap .table-responsive {
    margin: 20px 15px;
}

.booking-wrap .table {
    table-layout: fixed;
}

.booking-wrap .table th,
.booking-wrap .table td {
    text-align: center;
}

.booking-wrap .table thead th {
    background: var(--normalYellow);
    border: #fff solid 1px;
    vertical-align: middle;
    flex: 1;
}

.booking-wrap .table td[data-label="時段"] {
    vertical-align: middle;
}

.booking-wrap .table tbody tr>td:first-child {
    background: #3067c4;
    color: #fff;
}

.booking-wrap .table th,
.booking-wrap .table td {
    border-color: transparent;
    border-top: 1px solid #dee2e6;
    min-height: 50px;
}
.booking-wrap .card {
    text-align: left;
    padding: 10px;
    border: #9cbbf0 solid 1px;
}

.booking-wrap .card+.card {
    margin-top: 10px;
}

.booking-wrap .card .doctor {
    font-size: 1.4rem;
    font-weight: bold;
}

.booking-wrap .card .doctor .info {
    color: #000;
}

.booking-wrap .card .doctor .info:hover {
    color: #007bff;
}

.booking-wrap .card .room {
    color: #fff;
    width: fit-content;
    padding: 2px 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
    background: var(--normalBlue);
}

.booking-wrap .card .btn {
    margin-top: 5px;
}

.booking-wrap .card .btn-booking {
    background: var(--normalOrange);
    font-weight: bold;
}

@media (max-width:1440px) {
    .booking-wrap {
        padding: 0;
        position: relative;
    }

    .booking-wrap .table {
        width: calc(100% - 40px);
        margin: auto;
    }

    .booking-wrap .table-responsive {
        margin: 0 10px;
    }

    /* .booking-wrap>.btn {
        position: absolute;
        z-index: 2;
    } */

    .booking-wrap>.btn-prev {
        left: -10px;
    }

    .booking-wrap>.btn-next {
        right: 0;
    }

    .booking-wrap .card .doctor {
        font-size: 1.1rem;
    }
}
@media (max-width:768px) {
    .booking-wrap>.btn-back.affix {
        left: 10px;
    }
    .booking-wrap>.btn-next.affix {
        right: 10px;
    }
}
@media (max-width:495px) {
    .input-group.vcode {        
        display: block;
    }
    .input-group.vcode input {
        width: 100%;
        border-radius: .25rem !important;
        margin-bottom: 10px;
    }
    .booking-wrap>.btn-back.affix {
        left: 0;
    }
    .booking-wrap>.btn-next.affix {
        right: 0;
    }
}

.time-mb {
    display: none;
}

.booking-wrap .time-mb th {
    background: #3067c4;
    color: #fff;
}

@media (max-width:1366px) {
    .booking-wrap .table {
        width: 1220px;
        margin: 20px auto;
    }
    .table2col  {
        max-width: 90%;
        margin-top: 20px;
    }

    .time-mb {
        display: contents;
    }

    .time-pc {
        display: none;
    }
}

/* function-wrap */
.function-wrap {
    margin: 20px;
}

.function-wrap .card {
    border: transparent;
}

.function-wrap .card.bg {
    background: #f2f7ff;
}

.function-wrap .form-inline .multiselect-container span.form-check {
    justify-content: normal;
    padding: 3px 10px;
}
@media (max-width:575px) {     
    .function-wrap {
        margin: 10px;
    }   
    .function-wrap .form-inline {
        display: block;
    }
    .function-wrap .form-inline .form-group>button {
        margin-top: 10px;
    } 
}

/* select-wrap */
.select-wrap section {
    display: block;
    border: 1px solid #ddd;
    padding: 2em;
    margin: 1em;
}

.select-wrap section:last-of-type button {
    width: 50%;
    padding: 2em 0;
    border-bottom: 0;
}

.select-wrap section:last-of-type button:nth-child(even) {
    border-right: 1px solid blue;
}

.select-wrap section:last-of-type button:nth-child(3),
.select-wrap section:last-of-type button:nth-child(4) {
    border-bottom: 1px solid blue;
}

.select-wrap section button {
    width: 25%;
    padding: 1em 0;
    background: none;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-right: 0;
    transition: background 0.25s ease-in;
    cursor: pointer;
}

.select-wrap section button:hover,
.select-wrap section button.active {
    background: blue;
    color: white;
}

.select-wrap section button:focus {
    outline: none;
}

.select-wrap section button:last-of-type {
    border-right: 1px solid blue;
}

/* booking-page */
.booking-page .alert {
    background: var(--normalYellow);
}

.booking-page .row {
    margin: 25px 10px;
}

.booking-page .card {
    background: #f2f7ff;
    border: none;
}

.booking-page .card .input-group .btn {
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
    .booking-page .row {
        margin: 20px 0;
    }
}

/* searchbar */
.searchbar {
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.searchbar .row {
    margin: 0;
}

.searchbar .row [class*="col-"] .bootstrap-select>.dropdown-toggle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #fff;
    padding: 1rem 1.5rem;
}

.searchbar .form-group {
    border-radius: 4px;
    margin-bottom: 0;
}

.searchbar .row [class*="col-"]:first-child .bootstrap-select>.dropdown-toggle {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: #cccccc solid 1px;
}

.searchbar .row [class*="col-"]:last-child .btn {
    width: 100%;
    margin-left: -1px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar .row .form-control {
    margin-bottom: 0;
}

.searchbar .row select:not(.selectpicker, [class*="multiselect-"]) {
    height: calc(2.75em + 0.75rem + 2px);
    border-radius: 0;
}

.searchbar .btn {
    height: 100%;
}

/* multiselect-container */
.searchbar .form-group .btn-group {
    margin: 0;
}

.searchbar .custom-select {
    border-radius: 0;
    height: calc(1.5em + 2rem + 2px);
    background: #fff;
    padding: 1rem 1.75rem 1rem 0.75rem;
}

.searchbar .custom-select::after {
    position: absolute;
    content: '\f0dc';
    border: none;
    display: inline-block;
    font: normal normal normal 1rem/1 FontAwesome;
    line-height: 1.5rem;
    right: 27px;
}

.multiselect-container {
    max-height: 350px;
    overflow: auto;
}

.multiselect-selected-text {
    text-align: left;
}


/* formArea */
.formArea .card {
    padding: 2rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.formArea .notice {
    margin: 30px 0 10px;
    display: block;
}

.formArea ul {
    padding-inline-start: 0;
}

.formArea ul li {
    list-style: none;
    font-size: 1.1rem;
}

.btn-group.row .btn:not(.dropdown-toggle) {
    padding: 1rem;
}

.formArea .alert {
    margin: 30px 15px;
    padding: 1rem 1.5rem;
}

.formArea .row {
    margin: 0;
}

.formArea .row.btn-group {
    margin-bottom: 20px;
}

.formArea .btn {
    padding: 1rem;
}

@media (max-width:768px) {
    .formArea .alert {
        margin: 15px 0;
    }

    .formArea .row:not(.btn-group) {
        margin: 0 -15px;
    }
}

/* birthToggle */
.birthToggle .text-primary {
    cursor: pointer;
}

/* btn-group */
.btn-group {
    width: 100%;
    margin: 1rem 0;
}

.btn-group .btn {
    margin-bottom: 1rem;
}

/* bootstrap-select */
.bootstrap-select .dropdown-menu {
    max-height: 275px;
    /* padding-bottom: 0; */
}

.bootstrap-select .dropdown-toggle .filter-option {
    align-items: center;
    display: flex;
}

.bootstrap-select>.dropdown-toggle::after {
    content: '\f107';
    border: none;
    display: inline-block;
    font: normal normal normal 1.4rem/1 FontAwesome;
}

.bootstrap-select>.dropdown-toggle {
    border: 1px solid #ced4da;
    background: #fff;
}

@media (max-width:500px) {
    .bootstrap-select .dropdown-menu {
        max-width: 100%;
    }
}

/* form */
/* .form-check-inline {
    width: calc(25% - 5px);
    margin-right: 0;
}
.form-row.input-group {
    width: calc(100% + 10px);
} */

.form-row.input-group [class*="col-"] {
    padding: 0;
    border-radius: 0;
}

.form-row>[class*=col-]:first-child {
    padding-left: 5px;
}

.form-row>[class*=col-] .bootstrap-select.form-control .dropdown-toggle {
    border-radius: 0;
}

.form-row>[class*=col-]:first-child .bootstrap-select.form-control .dropdown-toggle {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.form-row>[class*=col-]:last-child {
    padding-right: 5px;
}

.form-row>[class*=col-]:last-child .bootstrap-select.form-control .dropdown-toggle {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.form-section {
    font-size: 1.2rem;
    position: relative;
    margin: 1.5rem 0;
}

.form-section::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: var(--normalBlue);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.form-section span {
    display: inline-block;
    background: #fff;
    z-index: 1;
    position: relative;
    padding-right: 15px;
}

/* success-box */
.success-box {
    margin: 1rem 0;
}

.success-box i {
    color: #70d94b;
    font-size: 4rem;
    margin: 1rem 0;
}

.success-box .title {
    font-size: 1.6rem;
}

/* checkmark */
.checkmark-circle {
    width: 150px;
    height: 140px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #70d94b;
    margin: auto;
}

.checkmark-circle .checkmark {
    border-radius: 5px;
}

.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 35px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: "";
    left: 35px;
    top: 70px;
    position: absolute;
}

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

/* searchbar */
.searchbar .row [class*="col-"] {
    padding: 0;
}

.anchorNav {
    margin: 30px 0;
    padding-inline-start: 0;
    overflow: auto;
}

.anchorNav li {
    list-style: none;
    float: left;
}

.anchorNav li+li {
    margin-left: 15px;
}

.anchorNav a {
    min-width: 120px;
}

.anchorSec {
    position: relative;
}

.anchorSec::before {
    margin-top: -5rem;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
}

.anchorSec .card {
    padding: 2rem 2rem 1rem;
    border: none;
    border-radius: 0;
    margin: 3rem 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.anchorSec .card .btn-type {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 20px;
    padding: 20px;
    border-color: #4d7be3;
}

.anchorSec .card .btn-type:hover,
.anchorSec .card .btn-type:focus {
    background: #4d7be3;
    color: #fff;
}

@media (max-width:991px) {
    .anchorNav {
        margin: 15px 0;
    }

    .anchorNav li {
        margin-bottom: 10px;
        margin-right: 15px;
    }

    .anchorNav li+li {
        margin-left: 0;
    }
}

h2 {
    font-size: 24px;
    position: relative;
    font-weight: 400;
    padding-left: 5px;
    margin-bottom: 2rem;
}

h2::before {
    content: '';
    display: block;
    height: 2px;
    width: 60px;
    background: var(--normalBlue);
    position: absolute;
    bottom: -15px;
    left: 0;
}

/* notice */
.notice {
    margin: 4rem 0 0;
}

.notice img {
    max-width: 100%;
    width: 150px;
    margin-bottom: 15px;
}

.notice p {
    font-size: 1.5rem;
    color: #443693;
}

/* loginCont */
.loginCont p {
    color: var(--normalBlue);
    font-size: 1.4rem;
}

/* footer */
footer {
    text-align: center;
}

.foot-link {
    background: var(--normalBlue);
    color: #fff;
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    padding: 10px 0;
    justify-content: center;
}

.foot-link li a {
    padding: 0 10px;
    color: #fff;
}

@media (max-width:600px) {
    .foot-link {
        display: block;
    }

    .foot-link li a {
        display: block;
        padding: 5px 0;
    }
}

/* top */
.btn-top,
.btn-top:hover {
    background: var(--normalBlue);
    display: block;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 1;
    opacity: 0;
    text-indent: 4px;
    transition: all 0.2s linear;
}

.btn-top {
    bottom: 35px;
    right: 35px;
    border: #f3f8fa solid 2px;
}

.btn-top:hover {
    background: rgba(0, 0, 0, 0.8);
    /* filter: drop-shadow(2px 2px 5px #000); */
}

.btn-top.show {
    opacity: 1;
    cursor: pointer;
}

.btn-top:hover {
    text-decoration: none;
}

.btn-top i {
    margin-top: 3px;
    margin-left: 3px;
    font-size: 1.5rem;
}

@media(max-width:767px) {
    .btn-top {
        bottom: 20px;
        right: 20px;
    }
}

@media(max-width:645px) {
    .btn-top {
        bottom: 10px;
        right: 10px;
    }
}

/* info-wrap */
.info-wrap {
    margin: 20px 40px;
}

.info-wrap .nav {
    margin-bottom: 20px;
    border: none;
}

.info-content .card {
    color: #214787;
    background: #F2F7FF;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 27, 61, 0.2) 0px 0px 10px;
}

.info-content .row [class*="col-"] {
    display: grid;
}

.info-content .card .title {
    font-size: 1.3rem;
    font-weight: 700;
}

.info-content .btn-group {
    margin: 1rem 0 0;
}

.info-wrap .card-body a {
    display: block;
}

.info-wrap .card-body .address::before {
    color: #214787;
    font: normal normal normal 1.2rem / 1 FontAwesome;
    content: "\f041";
    margin-right: 5px;
}

.info-wrap .card-body .tel::before {
    color: #214787;
    font: normal normal normal 1rem / 1 FontAwesome;
    content: "\f095";
    margin-right: 5px;
}

/* weekTab */
.contentTab {
    margin: 2.5rem 0 1rem;
}

.contentTab .nav-item .nav-link {
    color: #4d4d4d;
    background: #fff;
    border-bottom: #cccccc solid 3px;
    border-radius: 0;
    padding: 1rem;
}

.contentTab .nav-link.active,
.contentTab .show>.nav-link {
    color: #004382;
    border-radius: 0;
    background: #c6ebfa;
    border-color: #4489a6;
}

@media (max-width:500px) {
    .contentTab .nav-item:first-child {
        width: 100%;
    }
}

.table-responsive {
    margin-top: 2rem;
}

.tab-content .table-responsive {
    margin-top: 0;
}

.table .title {
    display: block;
}



/* infoTable */
.infoTable td,
.infoTable th {
    vertical-align: inherit;
}

.infoTable td {
    font-size: 1.1rem;
}
.infoTable td a {
    display: block;
}
.infoTable td a+a {
    margin-top: 10px;
}
.infoTable td .btn {
    border: #000 solid 1px;
}
.infoTable td .btn:hover {
    background: #000;
    color: #fff;
}
.infoTable tbody tr:nth-child(odd) {
    background: #f4f9ff;
}

.infoTable tbody tr:nth-child(even) {
    background: #fff;
}

.infoTable thead {
    background: #FBDE3B;
}

.infoTable thead th {
    color: #000;
    border-color: #FBDE3B;
    font-weight: 500;
    position: relative;
    padding: 0.75rem 0.5rem;
}

/* tbody {
	background: rgb(255,255,255,0.6);
} */
.infoTable td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight {
    background: #ffff99;
}

/* .infoTable td a,
.infoTable td a:hover {
    padding: 5px 7px;
    color: #000;
    display: block;
    text-align: left;
    text-decoration: none;
    border: transparent solid 1px;
    border-bottom: transparent solid 5px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.infoTable td a:not([href$="javascript:void(0)"], .btn-register):hover {
    border: var(--normalBlue) solid 1px;
    border-bottom: var(--normalBlue) solid 5px;
    background: #fff;
} */

.infoTable td .btn-register {
    color: #343a40;
    text-align: center;
    border: #4d7be3 solid 1px;
    border-radius: 0;
    padding: 1rem;
}

.infoTable td .btn-register:hover,
.infoTable td .btn-register:focus,
.infoTable td .btn-register:active {
    background: #4d7be3;
    color: #fff;
    border: #4d7be3 solid 1px;
    border-radius: 0;
    text-align: center;
    padding: 1rem;
}

.infoTable td a span {
    display: block;
}

.infoTable td a i[class*="fa"],
.infoTable td a:hover i[class*="fa"] {
    color: #000;
}

.infoTable td a i[class*="fa"] {
    font-size: 1.2rem;
    line-height: 2rem;
}

.infoTable td a:hover i[class*="fa"] {
    color: #fff;
}
a[href$="javascript:void(0)"] {
    cursor: auto;
}

table a[href$="javascript:void(0)"] {
    opacity: .5;
}

table caption {
    display: none;
}

@media (max-width:500px) {
    .infoTable td>span {
        display: block;
        padding: 5px 7px;
    }
}

/* detailTable */
.detailTable td,
.detailTable th {
    border-top: 4px solid #f3f8fa;
}

.detailTable td {
    position: relative;
}

.detailTable td:nth-child(2) {
    overflow: inherit;
}

.detailTable th+th::before,
.detailTable td+td::before {
    content: '';
    width: 4px;
    height: 122%;
    display: block;
    background: #f3f8fa;
    position: absolute;
    left: -9px;
    bottom: -6px;
}

.detailTable td a,
.detailTable td a:hover,
.detailTable td .btn-danger {
    color: #fff;
    text-align: center;
    background: #F15A24;
    border: #F15A24 solid 1px;
    padding: 0.75rem 0.5rem;
    border-radius: 0;
}

.detailTable td .btn-danger:not([href$="javascript:void(0)"], .btn-register):hover,
.detailTable td .btn-danger:hover,
.detailTable td .btn-danger:focus,
.detailTable td .btn-danger:active,
.detailTable td .btn-danger:active,
.detailTable td .btn-danger:hover {
    background: #f3f8fa;
    color: #F15A24;
    border: #F15A24 solid 1px;
}

@media only screen and (min-width: 991px) {
    .infoTable {
        table-layout: fixed;
        max-width: 100% !important;
    }

    .infoTable thead th+th::before {
        content: '';
        width: 4px;
        height: 122%;
        display: block;
        background: #f3f8fa;
        position: absolute;
        left: -9px;
        bottom: -6px;
    }

    /* .table-hover>tbody>tr:hover {
        background-color: #ffcc00;
	} */
}

/* linkTable */
.linkTable .btn-link {
    border: #000 solid 1px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.linkTable .btn-link+.btn-link {
    margin-top: 15px;
}

.linkTable .info+.info {
    margin-top: 15px;
}

.linkTable .btn-link .fa {
    float: right;
    margin-top: -4px;
    font-size: 1.5rem;
}

/* dataTable */
table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 4px solid #f3f8fa;
}

table.dataTable td+td {
    border-left: 4px solid #f3f8fa;
}

table.dataTable thead>tr>th:not(.sorting_disabled):active {
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
}

div.dataTables_wrapper div.dataTables_info {
    text-align: right;
    padding-top: 15px;
}

/* .infoTable td:first-child, 
.infoTable th:first-child {
    width: 5px !important;
} */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    /* font-family: "Font Awesome 5 Free";     */
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0dc";
    bottom: 15px;
    margin-left: 7px;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

table.table-bordered.dataTable td:last-child {
    text-align: center;
}

/* fix */
div.dataTables_wrapper {
    margin: 0 auto;
}

div.dataTables_scrollHead table.dataTable,
.dataTables_scrollHeadInner {
    width: 100% !important;
    margin-bottom: 0;
}

table.dataTable.display tbody tr.DTFC_NoData {
    background-color: transparent;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left,
tr.dt-rowReorder-moving td.dtfc-fixed-right {
    border-top: 2px solid #555 !important;
    border-bottom: 2px solid #555 !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {
    border-left: 2px solid #555 !important;
}

tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {
    border-right: 2px solid #555 !important;
}


/* rwdTable */
@media (max-width: 991px) {
    .table-rwd {
        overflow: hidden;
        width: 100%;
    }

    .table-hover tbody tr:hover {
        background: transparent;
    }

    table.table-bordered.dataTable td:last-child {
        text-align: left;
    }

    .table-rwd tr {
        display: grid;
        width: 100%;
    }

    .table-rwd th {
        display: none;
    }

    .table-rwd td {
        display: block;
        width: 100%;
        position: relative;
        padding-left: 38%;        
        border-top: 1px solid #ffffff;
    }

    .table-rwd tr td:before {
        content: "";
        font-weight: 500;
        display: inline-block;
        margin-right: 15px;
        padding: 0.75rem;
        width: calc(29% + 1.5rem);
        background: #FBDE3B;
        color: #000;
        margin-bottom: 0;
        position: absolute;
        left: -1px;
        top: 0;
        height: 102%;
    }

    .table-rwd tr:nth-child(even) td:before {
        background: #005391;
        color: #fff;
    }

    .dataTables_wrapper .table-rwd tr td:nth-child(1):before {
        margin-left: 3.5px;
    }

    .table-rwd.bookingTable tr td:before {
        content: attr(data-label);
    }

    .table-rwd.infoTable tr td:before {
        content: attr(data-label);
    }

    .table2col tr td:before {
        content: attr(data-label);
    }
    
    .table2col tr td:first-child:before {
        background: #005391;
        color: #fff;
    }
    .table-rwd tr+tr {
        border-top: 10px solid #f3f8fa;
    }
  
}

@media (max-width: 500px) {
    .table-rwd td {
        padding-left: 125px;
        border-top: 4px solid #f3f8fa;
        min-height: 60px;
    }

    .table-rwd tr td:before {
        width: 115px;
    }

    .infoTable tbody tr:nth-child(odd) {
        background: #fff;
    }

}

@media (max-width: 430px) {
    .table-rwd td {
        padding-left: 80px;
    }
    .booking-wrap .table th, 
    .booking-wrap .table td {
        min-height: 80px;
    }
    .table-rwd tr td:before {        
        width: 70px;
        word-break: break-all;
    }

    .infoTable tbody tr:nth-child(odd) {
        background: #fff;
    }
    .booking-wrap .table tbody tr>td:first-child>span:first-child {
        display: block;
    }
}

/* .dataTables_length,
.dataTables_filter,
#example_info {
	display: none !important;
} */
div.dataTables_wrapper div.dataTables_filter input {
    border: #3c3c3c solid 1px;
    border-radius: 19px;
}

div.dataTables_wrapper div.dataTables_paginate {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

div.dataTables_wrapper div.dataTables_paginate a:not(.disabled) {
    cursor: pointer;
    line-height: 17px;
}

.dataTables_scrollBody thead tr[style*="height: 0px"] {
    display: none;
}

.paginate_button {
    display: inline-block;
    border-radius: 50%;
    padding: 8px 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 4px;
    color: #000;
}

.paginate_button:not(.previous, .next) {
    /* background: #a72020; */
    color: #000;
}

.paginate_button.current,
.paginate_button:not(.previous, .next):hover {
    background: #dc007a;
    color: #fff !important;
    text-decoration: none;
}

.ellipsis {
    display: inline-block;
    margin: 0 10px;
}

a.disabled {
    opacity: .6;
}

/* cancelNotice */
#cancelNotice .modal-footer .row {
    width: 100%;
}

#cancelNotice .row [class*="col-"]:first-child {
    padding-right: 5px;
    /* padding-left: 0; */
}

#cancelNotice .row [class*="col-"]:last-child {
    padding-left: 5px;
    /* padding-right: 0; */
}

.modal-footer .btn {
    padding: 1rem;
}

/* sitemapCont */
.sitemapCont p {
    font-weight: 400;
    font-size: 1.2rem;
}

.sitemapCont ul {
    padding-inline-start: 10px;
}

.sitemapCont ul li {
    list-style: none;
    line-height: 2rem;
    font-size: 1rem;
}

.sitemapCont .badge {
    font-weight: 400;
    font-size: 1rem;
    margin-right: 10px;
}

.sitemapCont a {
    font-size: 1.5rem;
    color: #150186;
}

.sitemapCont .card {
    padding: 2rem;
}

.sitemapCont .card h2 {
    margin-bottom: 3rem;
}

/* accesskey */
footer .accesskey,
.topNav .accesskey {
    color: #4d4d4d;
}