
/*=============================
        LOGIN 
==============================*/
:root {
    --font-Sans: 'Noto Sans TC', sans-serif;
    --font-Serif: 'Noto Serif TC', serif;
    --font-Size: 1.2em;
    --font-Title: 3rem;
    --font-p: 1.5rem;
    --normalBlue: #015383;
    --secondBlue: #E4F1F9;
    --normalBG: #754c24;
}
body {
    height: 100%;
    background: url(../images/bg-login.jpg) no-repeat center bottom;
    background-size: cover;
}
header {
    padding: 5px 10px;
    background: #fff;
}
header .navbar-nav {
    justify-content: end;
}
header .nav-link {
    color: #444;
}
.navbar-nav .dropdown-menu {
    left: -40px !important;
}
.form-wrap {
    background: #fff;
    max-width: 60%;
    padding: 25px;
    height: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    height: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.form-wrap .visual {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.form-wrap .bg {
    width: 100%;
    height: 100%;
    background: url(../images/img-login.jpg) no-repeat 80% center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.brand-text {
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-Sans);
    font-weight: 500;
    margin: 0 0 1.5rem;
}
.brand-text.d-md-flex {
    align-items: end;
}
.brand-text img {
    max-width: 100%;
    margin-bottom: 10px;
}
.brand-text span {
    color: #754c24;
    font-size: 2.5rem;
}
.brand-text.d-md-flex span {
    margin-bottom: 10px;
}
.brand-text.d-md-flex img {
    width: 285px;
}
.brand-text .management {
    position: relative;
}
.brand-text .management::before {
    content: '';
    display: block;
    width: 75%;
    height: 1px;
    background: var(--normalBG);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.brand-text .management,
.brand-text .management span {
    font-size: 1.4rem;
}
.brand-text .management span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 10px;
}
body.card-center {
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

html, body.card-center {
    height: 100%;
}
.form-wrap .title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: #444 solid 1px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.form-wrap .form-signin {
    width: 100%;
    max-width: 367px;
    padding: 25px;
    margin: auto;
    position: relative;
    background: #fff;
}
.reCAPTCHA img {
    max-width: 100%;
}
.form-wrap .form-signin .title a {
    font-size: 1.2rem;
    color: var(--normalBG);
    text-decoration: underline;
}
.form-wrap .form-signin .checkbox {
    font-weight: 400;
}
.form-wrap .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-wrap .form-signin .form-control:focus {
    z-index: 2;
    box-shadow: none;
    border-color: #e9c121;
}

.form-wrap .form-signin .img_logo{
    width: 218px;
    display: block;
    margin: 28px auto;
}
.form-wrap .form-signin label{
    margin-top: 1px;
    background: #fff;
    padding: 0 5px;
}
.form-wrap .has-float-label {
    position: relative;
    font-size: 80%;
}
.form-wrap .has-float-label label {
    position: absolute;
    opacity: 1;
    transition: all .2s;
    top: -.5em;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 7px;
}
.form-wrap .has-float-label .form-control:focus+label {
    left: .4rem;
}

.form-wrap .has-float-label label::after {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1
}
.form-wrap .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0
}
.form-wrap .has-float-label .form-control:placeholder-shown:not(:focus)+label {
    font-size: 135%;
    opacity: .65;
    top: 0.7em;
    padding: 0;
}

.form-wrap .form-signin .radiobox{
    margin: 10px auto 32px;
    text-align: right;
}

.form-wrap .form-signin .radiobox legend{
    text-align: left;
    vertical-align: middle;
    margin-top: 5px;
}

.form-wrap .btn-signin,
.form-wrap .btn-submit{
    margin: 20px auto 15px;
    background: var(--normalBG);
    color: #fff;
    font-weight: bold;
}
.form-wrap .btn-signin:hover,
.form-wrap .btn-submit:hover{
    background:#d4ad0e;
}
.form-wrap .btn-back{
    margin: 20px auto 15px;
    background: #ef9039;
    color: #fff;
    font-weight: bold;
}
.form-wrap .btn-back:hover{
    background: #da6900;
}

.form-wrap .forgot-register a {    
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}
.form-check .form-check-input {
    transform: scale(1.2);
    margin-top: 0.95rem;
}
.btn.dropdown-toggle {
    border: 1px solid #ced4da;
    background: #fff;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: #495057;
}
.copyright {
    margin-top: 15px;
    text-align: center;
}
@media (max-width:475px) {
    .form-wrap {       
        width: auto;
        max-width: 90%;
        padding: 0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.has-float-label {
    position: relative;
      /* font-size: 70%; */
}


/* forget */
.forget.form-wrap {
    max-width: 375px;
}
.forget.form-wrap .title {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 5px;
}