/*--------------------------------------------------------
                 Layout
--------------------------------------------------------*/
:root {
    --font-Sans: 'Noto Sans TC', sans-serif;
    --font-Serif: 'Noto Serif TC', serif;
    --font-Size: 1.2em;
    --font-Title: 3rem;
    --font-p: 1.5rem;
    --normalBrown: #451d13;
    --secondBlue: #E4F1F9;
    --normalYellow: #F4D65C;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    color: #212529;
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

@media (max-width:768px) {
    body.hidden-left {
        position: fixed
    }
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}


/* common */
.btn i {
    margin-right: 5px;
}
.btn-edit i {
    margin-right: 0;
}
input[type="month"]::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}

input[type="month"]:focus::before,
input[type="month"]:active::before {
    content: "";
    width: 0%;
}

/*--------------------------------------------------------
                 header 
--------------------------------------------------------*/
.header {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    border-bottom: #e5e5e5 solid 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.header-navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-content: flex-start; */
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-navbar ul .dropdown {
    margin-left: 15px;
}

.navbar-wrapper {
    width: 100%;
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--normalBrown);
    font-family: 'Oswald', sans-serif;
}
.navbar-brand h1 {
    font-size: 2.2rem;
    font-family: var(--font-Sans);
    font-weight: 500;
    color: #542d19;
}

.navbar-brand img {
    height: 80px;
}

@media (max-width:460px) {
    .navbar-brand img {
        height: 60px;
    }
}

/*--- Hamburgers ---*/

.mobile-menu {
    font-size: inherit;
    line-height: 0;
    padding: 6px;
    position: relative;
    width: 45px;
    height: 45px;
    z-index: 999;
    border: none;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}

.mobile-menu span,
.mobile-menu span::before,
.mobile-menu span::after {
    cursor: pointer;
    height: 0.125rem;
    width: 1.25rem;
    background: var(--normalBrown);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    content: '';
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.mobile-menu span::before {
    top: -6px;
}

.mobile-menu span::after {
    bottom: -6px;
}

/**/
@media (max-width: 768px) {

    .mobile-menu {
        padding: 0;
    }

    .mobile-menu span,
    .mobile-menu span::before,
    .mobile-menu span::after,
    .mobile-menu.open span,
    .mobile-menu.open span::before,
    .mobile-menu.open span::after {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu {
        height: 12px;
    }

    .mobile-menu span {
        width: 20px;
        margin: 10px 0;
        position: relative;
        border-top: 1px solid var(--normalBrown);
        display: block;
    }

    .mobile-menu span::before,
    .mobile-menu span::after {
        content: "";
        display: block;
        background: var(--normalBrown);
        height: 2px;
        width: 20px;
        position: absolute;
        top: -6px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: 13%;
        -webkit-transform-origin: 13%;
        transform-origin: 13%;
    }

    .mobile-menu span::after {
        top: 4px;
    }

    .mobile-menu.open span {
        border-top: 6px solid transparent;
        background: transparent;
    }

    .mobile-menu.open span::before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .mobile-menu.open span::after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

}

@media(min-width:1366px) {
    .mobile-menu[aria-expanded="true"] span {
        background: #47509A;
    }

    .mobile-menu[aria-expanded="true"] span::before,
    .mobile-menu[aria-expanded="true"] span::after {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

/*--- logo+title ---*/
/* .navbar-header .nav-item:nth-child(2) {
    max-width: 80%;
    min-width: 75%;
} */

.navbar-brand {
    margin: 8px;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-brand .brand-logo {
    display: inline-block;
    width: auto;
    height: 48px;
    margin-right: 5px;
}

.navbar-brand h3.brand-text {
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.navbar-header .nav-item.dropdown {
    float: right;
    display: block;
    width: 36px;
}

.navbar-header .nav-item .nav-link.dropdown-toggle {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: var(--normalBrown);
}

.navbar-header .nav-item .nav-link.dropdown-toggle+.dropdown-menu {
    position: absolute;
    right: 1px;
    top: 45px;
    margin-left: -95px;
}

.navbar-header .nav-item.dropdown .nav-link .avatar {
    font-size: 1.2rem;
}

.navbar-wrapper .navbar-container .navbar-collapse {
    justify-content: space-between;
}

@media (min-width:768px) {
    .navbar-header .nav-item.dropdown {
        display: none;
    }
}

@media (max-width:768px) {
    .navbar-header .nav-item.dropdown {
        position: relative !important;
    }

    .navbar-header .nav-item:nth-child(2) {
        min-width: auto;
        max-width: auto;
        width: 70%;
    }
}

@media (max-width:475px) {
    .navbar-header .nav-item:nth-child(2) {
        width: 60%;
    }
}

@media (max-width:375px) {
    .navbar-header .nav-item:nth-child(2) {
        width: 50%;
    }
}



/*--- 登入資訊 ---*/
.nav-link.dropdown-user-link {
    color: var(--normalBrown);
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}

.dropdown-user-info a:after {
    border: none;
    content: unset;
}

.dropdown-user-info .avatar {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 30px;
    white-space: nowrap;
    display: block;
    font-size: 1.75em;
    justify-content: center;
    align-items: center;
    color: var(--normalBrown);
    line-height: 1.1;
}

.dropdown-user-info .user-name {
    font-weight: 700;
    margin-right: .25rem;
    font-size: .9375rem;
    margin-bottom: .4rem;
}

f.dropdown-user-info .dropdown-item .dropdown-user-info .dropdown-user-link {
    text-align: center;
}

.dropdown-user-info .dropdown-user-link:hover {
    color: var(--normalBrown);
}

.nav-link.dropdown-user-link {
    padding: .25rem 0;
}

#navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu {
    position: absolute;
}

.header-navbar .navbar-container .show .dropdown-menu {
    right: 1rem;
    left: 1rem !important;
    float: none;
    width: auto;
    margin-top: 0;
    max-height: 400px;
    overflow: hidden;
    color: #212529;
}

.navbar-nav .dropdown-menu {
    right: 0;
}

.navbar-nav .dropdown-menu i {
    margin-right: 10px;
}

.header-navbar .navbar-nav .show {
    position: relative;
}

.dropdown-user-info .dropdown-item {
    color: #666;
}

@media(min-width:768px) {
    .navbar-wrapper {
        display: flex;
        width: 100%;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: space-between;
    }

    .navbar-expand-md .navbar-collapse ul.navbar-nav {
        justify-content: space-between;
        width: 100%;
    }

    .navbar-expand-md .navbar-collapse ul li .dropdown-user-link .avatar {
        display: none;
    }

    .navbar-expand-md .navbar-collapse ul li .dropdown-user-link .user-name {
        font-size: 1rem;
    }

    .dropdown-user-info .dropdown-user-link:after {
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
        border-bottom: 0;
    }

    .dropdown-menu-right {
        right: 5px;
    }

    .dropdown-menu-right.dropdown-menu {
        left: auto !important;
    }
}

.container.main-container {
    /* background: #F2F3F7; */
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0, 0, 0, 0);
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
    position: relative;
}

.fixed-navbar.wrapper {
    padding-top: 95px;
    min-height: 100vh;
    overflow-x: hidden;
}

.animate .main-container::after {
    opacity: 1;
    height: 101%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Effect Move Down */

.effect-movedown {
    background-color: #5df5f1;
}

.effect-movedown .main-container {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.effect-movedown .main-container::after {
    background: rgba(52, 73, 94, 0.5);
}

.effect-movedown.animate .main-container {
    -webkit-transform: translateY(100%) translateZ(-1500px);
    transform: translateY(100%) translateZ(-1500px);
}

.no-csstransforms3d .effect-movedown.animate .main-container {
    top: 75%;
}

.effect-movedown .outer-nav a {
    opacity: 0;
    color: #fff;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -moz-transition: transform 0.4s, opacity 0.4s;
    -ms-transition: transform 0.4s, opacity 0.4s;
    -o-transition: transform 0.4s, opacity 0.4s;
}

.effect-movedown .outer-nav a:hover {
    text-decoration: none;
    color: #fff;
}

.effect-movedown.animate .outer-nav a {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.effect-movedown.animate .outer-nav a:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
}

.effect-movedown.animate .outer-nav a:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.effect-movedown.animate .outer-nav a:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}

/* Media Queries */

@media screen and (max-width: 77em) {
    .outer-nav {
        top: 15%;
    }

    .outer-nav.bottom {
        bottom: 15%;
    }
}

@media screen and (max-width: 36.625em),
screen and (max-height: 41.75em) {
    .outer-nav {
        top: 5%;
    }

    .outer-nav.bottom {
        bottom: 5%;
    }

    .outer-nav {
        font-size: 1.7em;
        width: 6.2em;
    }

    .outer-nav a {
        display: block;
        text-align: left;
    }

    /* Special Case */
    .effect-rotatetop .outer-nav {
        width: 100%;
        bottom: auto;
        top: 50%;
    }

    .effect-rotatetop .outer-nav a {
        display: inline-block;
    }
}

@media screen and (max-width: 31em),
screen and (max-height: 36.2em) {

    .outer-nav,
    .outer-nav.vertical {
        font-size: 1.2em;
        width: 6.8em;
    }

    .outer-nav.right {
        right: auto;
        left: 50%;
    }
}

@media screen and (max-height: 31.6em) {
    .outer-nav a {
        margin-bottom: 20px;
    }
}

/*--------------------------------------------------------
                 aside  
--------------------------------------------------------*/

aside {
    width: 0;
}

.sidebar {
    width: 260px;
    /* height: calc(100% - 24px); */
    height: 100%;
    overflow-y: auto;
    position: fixed;
    left: -266px;
    top: 95px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: linear-gradient(to bottom, rgba(189, 159, 43, 1) 1%, rgba(172, 140, 14, 1) 84%, rgba(198, 171, 63, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: 100;
}

.hidden-left .cover {
    opacity: 1;
    width: 100%;
    height: 100%;
    right: -260px;
    left: 0px;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hidden-left .sidebar {
    left: 0px;
}


#navigation {
    overflow: auto;
    height: calc(100% - 72px);
    padding-bottom: 1rem;
}

#navigation::-webkit-scrollbar-track {
    background-color: var(--normalBrown);
}

#navigation::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#navigation::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0088d6;
}

#navigation>li {
    position: relative;
}

aside a {
    transition: all .2s linear;
}

aside ul {
    padding-left: 0;
    list-style: none;
}

aside ul li a {
    padding: 12px 7px 12px 18px;
    display: block;
    position: relative;
    margin: 0;
    color: #fff;
    font-size: 0.9375em;
}

aside ul a.active,
aside ul a:hover {
    text-decoration: none;
}

#navigation>li>a {
    padding-left: 18px;
    padding-right: 32px;
    color: #fff;
}

#navigation>li>a:hover {
    padding-left: 24px;
}

#navigation>li.active a {
    background: #dfc045;
}

#navigation a i {
    margin-right: 12px;
}

aside ul a.menu-item:hover {
    color: rgba(255, 255, 255, .8)
}

aside ul a.menu-item:after {
    content: "\f078";
    font-size: 0.875em;
    color: #fff;
    font-family: "FontAwesome";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 12px;
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}

aside ul a.menu-item[aria-expanded="false"] {
    background: transparent;
}

aside ul a.menu-item[aria-expanded="false"]:after {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

aside ul li>ul {
    color: #fff;
    padding: 0 0 0 0;
    position: relative;
}

aside ul li>ul li {
    position: relative;
    /* padding-left: 34px; */
}

aside ul li>ul li a {
    display: block;
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    border: transparent;
    padding: 12px 7px 12px 44px;
}

aside ul li>ul li>ul li a {
    font-size: 0.875em;
    padding: 10px 7px 10px 70px;
}

aside ul li>ul li>ul li a:hover {
    padding-left: 75px;
}

aside ul li>ul li a:hover {
    /* background: #003f63; */
    color: #fff;
    text-decoration: none;
    padding-left: 50px;
}

#navigation li>ul li.active a,
aside ul li>ul li.active a {
    color: var(--normalBrown);
    font-weight: bold;
    /* background: rgba(255, 255, 255, .4); */
    background: #f2f3f7;
}

@media(min-width:1366px) {
    .sidebar {
        overflow-y: hidden;
        left: 0;
        /* top: 80px; */
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        font-size: 1em;
        -ms-transition: all .3s ease-in-out;
    }

    .hidden-left .sidebar {
        left: -266px;
    }

    .sidebar.is_stuck {
        position: fixed !important;
        top: 0 !important;
        /*margin-top: 0; */
    }

    .sidebar.is_stuck ul {
        height: 100%;
    }
}

@media (max-width:460px) {
    .sidebar {
        top: 75px;
    }
}

.siderbar-subtitle {
    /* padding-top:.5rem; */
    margin: 0 0 .2rem 2.5rem;
    padding: .75rem 0 0 .5rem;
    color: rgba(255, 255, 255, .5)
}

/* submenu */
.submenu {
    margin: 2rem 0;
}

.submenu .nav-tabs {
    border-bottom: none;
}

.submenu .nav-tabs+.form-wrap {
    border-radius: 0 0 10px 10px;
}

.submenu .nav-tabs .active {
    position: relative;
}

.submenu .nav-tabs .active:hover::before,
.submenu .nav-tabs .active::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    width: 100%;
    height: 15px;
    bottom: -5px;
    background: #fff;
    box-shadow: none;
    z-index: 1;
}

.submenu .nav-tabs .active:hover .nav-link,
.submenu .nav-tabs .active .nav-link {
    box-shadow: #d5d5d5 0px 0px 5px;
}

.submenu .nav-tabs .nav-link {
    border: none;
}

.function-wrap {
    position: relative;
    z-index: 1;
    margin: 2rem 0 0;
    /* filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)); */
}
.function-wrap+.page-content-area {
    margin-top: -2px;
}

/* submenu2 */
.submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    line-height: 24px;
    overflow: hidden;
    font-size: 13px;
    position: relative;
}

.submenu li {
    border: 1px solid #e0e0e0;
    border-left: none;
    background: #f7f7f7;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 -5px;
    padding: 3px 20px;
    cursor: pointer;
    color: #85b2d4;
}


.submenu li a {
    font-size: 1.2rem;
    color: #000;
}

.submenu li a:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 3px;
    bottom: -2px;
    width: 12px;
    /* transform: rotate(14deg); */
    border-left: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.submenu li a:after {
    content: " ";
    position: absolute;
    right: -4px;
    top: 3px;
    bottom: 2px;
    width: 10px;
    transform: rotate(-14deg);
    border-right: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.submenu li.active {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
    vertical-align: bottom;
    padding-top: 7px;
    font-weight: bold;
    cursor: default;
}

.submenu:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1;
}

.submenu li:before,
.submenu li:after {
    border: 1px solid #e0e0e0;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}

.submenu li:before {
    left: -9px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 10px 0px 0 #f7f7f7;
    padding-right: 10px;
}

.submenu li:after {
    right: -17px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -10px 2px 0 #f7f7f7;
    padding-left: 10px;
}

/* .submenu li.active:before {
    box-shadow: 10px 2px 0 #FFF;
} */

.submenu li.active:after {
    box-shadow: -10px 2px 0 #FFF;
}

.submenu li.active a:before,
.submenu li.active a:after {
    background: white;
}

/*--------------------------------------------------------
                 main-content 
--------------------------------------------------------*/

.main-content {
    margin: 0;
    width: 100%;
    padding: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #fff;
}

.hidden-left .main-content {
    margin-left: 260px;
    left: 260px;
    right: -260px;
}

.hidden-left .main-content:before {
    content: '';
    position: absolute;
    background: #2c2c2c;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
}

@media(min-width:768px) {
    .main-content {
        margin: 0;
        padding: 0;
        /* padding: 24px; */
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        /* width: calc(100% - 260px);
        height: calc(100vh - 80px);
        height: 100vh; */
    }

    .hidden-left .main-content {
        width: 100%;
        margin-left: 260px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }

    .mb.hidden-left .main-content {
        margin-left: 260px;
        margin-right: -260px;
    }
}

@media(min-width:1366px) {
    .hidden-left .main-content:before {
        z-index: inherit;
    }

    .main-content {
        padding: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: calc(100% - 260px);
        margin-left: 260px;
    }

    .hidden-left .main-content {
        width: 100%;
        left: 0;
        margin-left: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }

    .mb.hidden-left .main-content {
        margin-left: 260px;
        margin-right: -260px;
    }

    .hidden-left .main-content:before {
        content: "";
        background: transparent;
    }

    .sidebar.collapse:not(.show) {
        display: block;
    }
}

/*--- custom ----*/

.site-title {
    display: none;
}

/* 內頁區塊 內距24px */

.content-wrapper {
    background: #f4f4f4;
    padding: 12px 24px;
    min-height: 1000px;
}

.content-wrapper>div+div {
    margin-top: 20px;
    border-radius: 10px;
}

/*頁面標題*/
.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0.75rem 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "‧";
}

.breadcrumb-item.active a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb-item.active a:hover {
    color: var(--normalBrown);
}

.content-header-title {
    color: #534741;
    font-weight: bold;
    font-size: 1.8rem;
}


.page-header {
    position: relative;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.page-header>* {
    position: relative;
    z-index: 1;
}

.page-header::before {
    content: '';
    display: block;
    width: calc(100% + 50px);
    height: 150px;
    background: #fff;
    position: absolute;
    z-index: 0;
    top: -6px;
    left: -23px;
}
.page-header .page-title {
    color: #169DA2;
    font-size: 1.375em;
    margin-bottom: 0;
    line-height: 2;
}


/*頁面內容*/
.page-content-area {
    position: relative;
    padding: 24px;
    /* background: var(--secondBlue); */
    /* box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(29, 89, 119, 0.2); */
    background-color: #fff;
    font-size: .875em; */
    padding: 15px;    
    border: 1px solid #e0e0e0;
    /* filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2)); */
}

@media(min-width:1366px) {
    .page-content-area {
        min-height: 477px;
    }
}

/*--------------------------------------------------------
                 footer  
--------------------------------------------------------*/

footer {    
    font-size: 0.875em;
    padding: 12px 12px 15px 36px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    background: #f0f0f0;
}

.hidden-left footer {
    margin-left: 260px;
    left: 260px;
    right: -260px;
}

footer .copyright {}

footer .copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(min-width:768px) {
    footer .copyright ul {
        display: flex;
    }

    footer .copyright ul li:after {
        content: "|";
        padding: 0 8px;
    }

    footer .copyright ul li:last-child:after {
        content: "";
        padding: 0;
    }
}

@media(min-width:1366px) {
    footer {
        margin-left: 260px;
        width: calc(100% - 260px);
        padding: 12px 24px 15px 24px;
    }

    .hidden-left footer {
        margin-left: 0px;
        left: 0px;
        right: 0;
    }

    footer .copyright ul {
        display: flex;
    }

    footer .copyright ul li:after {
        content: "|";
        padding: 0 8px;
    }

    footer .copyright ul li:last-child:after {
        content: "";
        padding: 0;
    }
}

/*--------------------------------------------------------
                 載入loading page  
--------------------------------------------------------*/

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2AAEEE;
}

.wave {
    background: url("../images/img-wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.loading .loading-content {
    font-size: 3.5em;
    color: #1598d6;
    width: auto;
    margin: auto;
}

/*--------------------------------------------------------
                 404 page + 500 page  
--------------------------------------------------------*/

.verticalInner {
    width: auto;
}

.verticalOuter h1 {
    font-size: 96px;
    margin-bottom: 10px;
}

.verticalOuter h2 {
    font-size: 24px;
    border: 2px solid #3abfd0;
    font-weight: 700;
    line-height: 48px;
    margin: 0 auto 1em auto;
    padding: 0;
    display: inline-block;
}

.verticalOuter h2 span {
    display: inline-block;
    padding: .5em 1.4em;
    background: #3abfd0;
    color: #fff;
    border-right: 2px solid #3abfd0;
}

.verticalOuter h2 span+span {
    background: transparent;
    color: #212529;
}

.verticalInner p {
    font-size: 1.125rem;
    color: #000;
}

/* board-wrap */
.board-wrap {
    position: relative;
}

.board-wrap .board-item {
    border-radius: 10px;
    margin-bottom: 1.2rem;
}

.card-header:first-child {
    border-radius: 10px;
}

.card-header.active:first-child {
    border-radius: 10px 10px 0 0;
}

.board-wrap .card-body {
    min-height: 400px;
}

.board-wrap .card-header {
    position: relative;
}



/* .board-wrap .title a {
    color: #fff;
} */

.board-wrap .title span {
    font-size: .8rem;
    margin-left: 10px;
}

.board-wrap .title i {
    margin-left: 10px;
}

.board-wrap .btn-collapse[aria-expanded="true"]::before {
    content: "\f068";
}

.board-wrap .btn-collapse[aria-expanded="false"]::before {
    content: "\f067";
}

.board-wrap .card:nth-child(1) .card-header {
    background: var(--normalBrown);
    color: #fff;
}

/* select */
.bootstrap-select>.dropdown-toggle {
    border: 1px solid #ced4da;
    background: #fff;
}

/* cardAnchor */
.anchor-wrap {
    position: fixed;
    left: 260px;
    width: calc(100% - 260px);
    bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.hidden-left .anchor-wrap {
    left: 0;
    width: 100%;
}

@media (max-width:1366px) {
    .anchor-wrap {
        left: 0;
        width: 100%;
    }

    .hidden-left .anchor-wrap {
        left: 260px;
        width: calc(100% - 260px);
    }
}


.cardAnchor {
    padding: 25px 50px;
    white-space: nowrap;
    overflow-x: auto;
}

.cardAnchor::-webkit-scrollbar-track {
    background-color: #fff;
}

.cardAnchor::-webkit-scrollbar {
    height: 7px;
    background-color: #F5F5F5;
}

.cardAnchor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--normalYellow);
}


.cardAnchor .borad-anchor {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-weight: 400;
    border-bottom: #444 solid 6px;
}

.cardAnchor .borad-anchor:nth-child(1) {
    border-color: #6F3CA3;
}

.cardAnchor .borad-anchor:nth-child(2) {
    border-color: #451d13;
}

.cardAnchor .borad-anchor:nth-child(3) {
    border-color: #9E8D7D;
}

.cardAnchor .borad-anchor:nth-child(4) {
    border-color: #2E95CF;
}

.cardAnchor .borad-anchor:nth-child(5) {
    border-color: #016D77;
}

.cardAnchor .borad-anchor:nth-child(6) {
    border-color: #2e59cf;
}

.cardAnchor .borad-anchor:nth-child(7) {
    border-color: #1b0177;
}

/* .cardAnchor .link.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
} */

.borad-anchor .outlink {
    padding: 5px;
    background: #B3B3B3;
    color: #fff;
    font-size: .6rem;
}

.borad-anchor.focus .outlink {
    background: #000;
}

.borad-anchor {
    background: #fff;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    box-shadow: rgba(4, 38, 56, 0.2) 0 0 8px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.borad-anchor.focus {
    padding-top: 95px;
}

.borad-anchor.focus:after {
    content: "\f21a";
    font-size: 4rem;
    color: #E6E6E6;
    font-family: "FontAwesome";
    display: inline-block;
    position: absolute;
    right: 15px;
    bottom: 2px;
}

.borad-cont {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.borad-cont .link,
.borad-cont .link:hover {
    color: #999;
    text-decoration: none;
}

.borad-anchor .MBLnumber {
    color: #999;
    font-weight: bold;
}

.borad-anchor.focus .MBLnumber {
    color: #000;
}

.borad-anchor .label-HBL {
    color: #999;
    background: #F2F2F2;
    padding: 2px 5px;
    margin-right: 5px;
    display: inline-block;
}

.borad-anchor.focus .label-HBL {
    color: #000;
    background: #FFEB3B;
}


/* form-inline */
.function-wrap .form-wrap {
    background: #fff;
    /* box-shadow: rgba(4, 38, 56, 0.2) 0 0 8px; */
    padding: 15px 15px 0;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.page-content-area .form-wrap {
    margin-bottom: 15px;
}

.form-wrap .actions {
    display: flex;
    width: 100%;
    justify-content: right;
}

.form-inline {
    margin-top: 10px;
}
.form-inline legend {
    display: contents;
    width: auto;
}

.form-inline label,
.form-inline legend {
    font-size: 1rem;
}
.form-inline .form-group {
    margin-bottom: 10px;
}
.form-inline .form-group+.btn {
    margin-left: 10px;
    margin-bottom: 10px;
}
.form-inline .btn-search {
    background: #542d19;
    border-color:#542d19 ;
}
.form-inline .btn-search:active {
    background: #2a150b !important;
    border-color:#2a150b !important;
}
.form-inline .btn-search i {
    margin-right: 0;
}

@media (min-width:992px) {
    .form-inline legend+.form-check {
        margin-left: 15px;
    }

    .form-inline .form-group+.form-group {
        margin-left: 10px;
    }
}

@media (max-width:991px) {
    .form-wrap .row [class*="col-"]:last-child {
        margin-top: 1rem;
    }

    .form-wrap .form-inline .bootstrap-select {
        width: auto !important;
        margin-right: 10px;
    }

    .form-inline legend {
        display: inline-block;
    }

    .form-wrap .btn-update {
        display: block;
        width: 100%;
    }

    .form-inline .form-group {
        margin-bottom: 15px;
    }
}

/* dataTable */
table.selectTable thead th:first-child {
    text-align: center;
}
table.dataTable thead th, table.dataTable thead td {
    border-color: #e5e5e5;
}

table.dataTable .select-checkbox {
    width: 30px;
}
table.dataTable .badge {
    font-size: 100%;
    margin-bottom: 5px;
}
.badge-outline-dark {
    color: #2a2a2a;
    border: #666 solid 1px;
    background: #fff;
}

/* custom */
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: #495057;
}
/* input.form-control,
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */


/* form */
form .form-section {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-Sans);
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #E4E5EC;
}
.label-control {
    font-size: 1rem;
}
.form-actions {
    display: flex;
    justify-content: center;
}