body {
    background-color:#FDF4E3;
}
h5, .h5 {
    font-size: 1.15rem;
    color: #2B2B2B;
    font-family: "Taipei Sans TC Beta Regular", "Taipei Sans TC Beta Light", "Taipei Sans TC Beta Bold", Helvetica, "Heiti TC Light", "Heiti TC Medium";
    font-style: normal;
    font-weight: bolder;
    text-align: left;
}

h6, .h6 {
    font-size: 1.15rem;
    color: #B68D63;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Taipei Sans TC Beta Regular", "Taipei Sans TC Beta Light", "Taipei Sans TC Beta Bold", Helvetica, "Heiti TC Light", "Heiti TC Medium";
}

.p1 {
    text-align: left;
    color: #2B2B2B;
}

.p2 {
    color: #B68D63;
    font-family: "Taipei Sans TC Beta Regular", "Taipei Sans TC Beta Light", "Taipei Sans TC Beta Bold", Helvetica, "Heiti TC Light", "Heiti TC Medium";
    font-size: 1.1rem;
    opacity: 0.8;
    text-align: left;
}
.p3 {
    color: #2B2B2B;
    font-family: "Taipei Sans TC Beta Regular", "Taipei Sans TC Beta Light", "Taipei Sans TC Beta Bold", Helvetica, "Heiti TC Light", "Heiti TC Medium";
    text-align: left;
}

main#main-bank-history > .container-fluid.section-container {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

@media only screen and (min-width: 768px) {
    main#main-bank-history > .container-fluid.section-container {
        padding-left: 0;
        padding-right: 0;
    }
}