/* Community Nutrition Counseling Style */
.toggleCont .card-header a {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    background: #414253;    
    display: block;
    border-radius: 5px;
}
.toggleCont .card-header {
    margin-bottom: 10px;
}
.card-box h5 {
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    background: #505458;
}
.recordCode {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.toggleCont .card-header a::after {    
    font-size: 2rem;
    font-family: 'Material Design Iconic Font'; 
    content: "\f1b6";
    display: inline-block;
    transition: all 0.2 linear;
    transform: rotate(90deg);
    float: right;
    margin-top: -2px;
}
.toggleCont .card-header a[aria-expanded="true"]::after {
    transform: rotate(270deg);
}
          
.form-group .select2-container {
    width: 100% !important;
}

/* funkyradio */
.funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
    text-align:left;
}
.funkyradio span {
    margin-right: 15px;
}
.funkyradio label {
    min-width: 200px;
    width: auto;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio div label {
    width: 100%;
}
.funkyradio input[type="radio"]:empty, 
.funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, 
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio div input[type="radio"]:empty ~ label, 
.funkyradio input[type="checkbox"]:empty ~ label {
    padding-left: 45px;    
    padding-right: 15px;
    text-indent: inherit;
}
.funkyradio input[type="radio"]:empty ~ label:before, 
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, 
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, 
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, 
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    
}
.funkyradio input[type="radio"]:checked ~ label, 
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, 
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, 
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, 
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, 
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, 
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, 
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, 
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.radioWrap {
	padding: 10px;
}

.radioWrap .radioBtnGroup {
	max-width: 100%;
	margin: auto;
}

.radioWrap .radioBtnGroup .radioMethod {
	padding: 45px;
	box-shadow: none;
	position: relative;
}

.radioWrap .radioBtnGroup .radioMethod.active {
	outline: none !important;
}

.radioWrap .radioBtnGroup .radioMethod.active .method {
	border-color: #4cd264;
	background-color: rgb(255,220,80);
	outline: none !important;
	box-shadow: 0px 3px 22px 0px #7b7b7b;
}
.radioWrap .radioBtnGroup .radioMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid transparent;
	background-color: rgb(220,220,220);
	transition: all 0.5s;
	white-space:pre-wrap;
	text-align:left; 
}


.radioWrap .radioBtnGroup .radioMethod .method:hover {
	border-color: #4cd264;	
	outline: none !important;
} 
		