@charset "UTF-8";
.p4 {
    font-size: .6rem;
}
.btn-book {
    color: #FFFFFF !important;
    background-color: #B68D63;
    border-radius: 30px;
    font-size: 1.15rem;
}
.btn-book:hover {
    color: #2B2B2B !important;
}
