@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Material+Icons&family=Poppins:ital,wght@1,500&family=Lusitana&family=Gothic+A1:wght@900&family=Noto+Sans+TC:wght@100;400;500;700&family=Noto+Serif+TC:wght@500;700&display=swap);

:root {
    --font-Sans: 'Noto Sans TC', sans-serif;
    --font-Serif: 'Noto Serif TC', serif;
    --font-Number: 'Gothic A1', sans-serif;
    --font-QA: 'Poppins', sans-serif;
    --font-Size: 1.2em;
    --font-Title: 3rem;
    --font-p: 1.5rem;
    --dangerColor: #d20270;
    --normalRed: #c92a2e;
    --normalYellow: #ffde3b;
    --primaryColor: #0071bc;
    --secondColor: #f8f6d5;
    --normalGray: #f7f7f7;
    --boxShadow: 3px 13px 27px rgb(0, 0, 0, , 1.5);
}

* {
    font-family: var(--font-Sans);    
    /* font-size: 14px; */
}

/* btn */
[class*="btn-"]:not(.dropdown-toggle,.btn-top) {
    border: #ced4da solid 1px;
    border-radius: 20px;
    transition: all 0.2s linear;
}
[class*="btn-"]:not(.dropdown-toggle,.btn-top) i {
    margin-right: 5px;
}
.btn-edit {
    color: #fff;
    background: #000;
    border: #000 solid 1px;
}
.btn-edit:hover,
.btn-edit:active {
    color: #000;
    background: #fff;
}
.btn-view {
    color: #fff;
    background: #29abe2;
    border: #29abe2 solid 1px;
}
.btn-view:hover,
.btn-view:active {
    color: #fff;
    background: #1b87b6;
}
.btn-del {
    color: #fff;
    background: #ed1c24;
    border: #ed1c24 solid 1px;
}
.btn-del:hover,
.btn-del:active {
    color: #fff;
    background: #a80a10;
}
.btn-add {
    background: var(--normalYellow);
}
.btn-primary {
    background: var(--primaryColor);
    border-color: var(--primaryColor);
}
.btn-primary:hover,
.btn-primary:active {
    background: #04375a;
    border-color: #04375a;
}

/* bs-select */
[class*="col-"] .bs-select {
    width: 100% !important;
}
.bootstrap-select>.dropdown-toggle,
.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #495057;
    background: #fff;
    border: 1px solid #ced4da;
}

/* main */
main {
    padding: 20px 35px 40px;
}
@media (min-width:1025px) {
    main {
        min-height: 800px;
    }
}
@media (max-width:1320px) {
    main {
        padding: 20px 15px 40px;
    }
}


header {
    padding: 0 35px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
}

header.affix {
    width: 100%;
    background: #fff;
}

.affix {
    position: fixed !important;
    top: 0;
    z-index: 2;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.nav-brand {
    padding: 16px 0;
    display: block;
}

.nav-brand img {
    height: 60px;
}

@media (max-width:1320px) {
    header {
        padding: 0 15px;
    }
}


/* navigation */
.nav-menu>li>a {
    text-transform: inherit;
    font-size: 1.1rem;
    height: auto;
    color: rgb(0, 0, 0, .74);
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
    color: #000;
    background: var(--normalYellow);
}
.nav-dropdown>li.active>a,
.nav-dropdown>li.active>a:hover, 
.nav-dropdown>li.active>a:focus,
.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    color: #fff;
    background: var(--primaryColor);
}

.nav-dropdown>li>a {
    font-size: 1rem;
}

.nav-menu>li.nav-apply>a {
    background: var(--normalRed);
    color: #fff;
}

.nav-menu>li.nav-apply>a:hover {
    background: #000;
}

.nav-menu>li.nav-apply>a {
    background: var(--primaryColor);
    color: #fff;
}

.nav-menu>li.nav-login>a {
    background: #fff;
}

.nav-menu>li>a>[class*="fa-"] {
    display: none;
}

.navigation em {
    color: #fff;
    font-size: .5rem;
    font-style: normal;
    line-height: 1.2rem;
    display: inline-block;
    border-radius: 10px;
    padding: 0 7px 2px;
    margin-left: 5px;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%);
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@media (min-width:1025px) {
    .nav-menus-wrapper .nav-menu:first-of-type {
        margin: auto;
        display: block;
        width: fit-content;
        margin-top: 0.5rem;
    }

    .submenu-indicator {
        display: none;
    }

    .nav-menu>li {
        position: relative;
    }

    .nav-menu>li>a {
        padding: 10px 25px;
        border-radius: 47px;
    }

    .nav-menu>li {
        margin: 15px 0;
    }

    .nav-menus-wrapper .nav-menu:last-of-type>li+li {
        margin-left: 10px;
    }

    .nav-menus-wrapper .nav-menu:last-of-type a {
        padding: 10px 26px;
        box-shadow: 0px 0px 9px rgb(0, 0, 0, .1);
    }

    .nav-menu>li>a>[class*="fa-"] {
        display: inline-block;
        font-size: 1.5rem;
        height: inherit;
        transform: scale(1.2);
        margin-left: 3px;
    }

    .nav-menu>li>.nav-dropdown {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 9px;
        margin-left: 5px;
    }

    .nav-dropdown>li:last-child>a {
        border-bottom: none;
    }

    .nav-btn .nav-dropdown>li:last-child>a:hover,
    .nav-btn .nav-dropdown>li:last-child>a:focus {
        background: #333;
    }

    .nav-menus-wrapper .nav-menu:last-of-type>.nav-login>a {
        color: #000;
        border: #000 solid 1px;
        box-shadow: none;
    }

    .nav-menus-wrapper .nav-menu:last-of-type>.nav-login>a .profile {
        display: inline;
    }

}

@media (max-width:1630px) {
    .nav-menus-wrapper .nav-menu:first-of-type {
        width: auto;
    }

    .nav-brand {
        margin-right: 15px;
    }
}

@media (max-width:1470px) {
    .nav-brand img {
        height: 55px;
    }

    .nav-menu>li>a {
        padding: 10px 20px;
    }
}

@media (max-width:1400px) {

    .nav-menus-wrapper .nav-menu:last-of-type a,
    .nav-menu>li>a {
        padding: 10px 15px;
    }

    .nav-brand {
        margin-right: 10px;
    }
}

@media (max-width:1366px) {
    .nav-menus-wrapper .nav-menu:first-of-type {
        width: auto;
    }
}

@media (max-width:1280px) {
    header {
        padding: 0 10px 0 30px;
    }

    .nav-menus-wrapper .nav-menu:last-of-type a,
    .nav-menu>li>a {
        padding: 10px;
    }
}

@media (max-width:1176px) {
    .nav-brand img {
        height: 50px;
    }
}

@media (max-width:1155px) {
    .nav-brand img {
        height: 45px;
    }

    .nav-menu>li>a {
        font-size: 1rem;
    }
}

@media (max-width:1024px) {
    .navigation em {
        font-size: 14px;
    }

    .navigation-portrait .nav-dropdown>li>a {
        background-color: #f9f9f9;
        padding: 12px 20px 12px 40px;
        width: 100%;
    }

    .nav-dropdown>li:not(:last-child)>a {
        border-bottom: 1px solid #e5e5e5;
    }

    .navigation-portrait {
        height: 70px;
    }

    .navigation {
        display: block;
        overflow: hidden;
    }

    .nav-header {
        padding-right: 0;
        width: 100%;
    }

    .navigation-portrait .nav-menus-wrapper .nav-menu>li>a {
        opacity: 0;
    }

    .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right .nav-menu>li>a {
        opacity: 1;
    }
}

@media (max-width:768px) {
    .nav-brand img {
        height: 40px;
    }
}

.nav-btn {
    border-radius: 20px;

}


/* top */
.btn-top,
.btn-top:hover {
    background: #000;
    display: block;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 1;
    opacity: 0;
    text-indent: 4px;
    transition: all 0.2s linear;
    /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); */
}

.btn-top {
    bottom: 35px;
    right: 35px;
}

.btn-top.show {
    opacity: 1;
    cursor: pointer;
}

.btn-top:hover {
    text-decoration: none;
}

.btn-top [class*="fa-"] {
    line-height: 2.3rem;
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

@media(max-width:767px) {
    .btn-top {
        bottom: 20px;
        right: 20px;
    }
}

@media(max-width:645px) {
    .btn-top {
        bottom: 10px;
        right: 10px;
    }
}

/* footer */
footer {
    background: var(--normalGray);
    color: #737373;
    position: relative;
    padding: 10px 35px 20px;
    text-align: center;
}

footer img {
    display: block;
    margin: 20px 15px 0;
}

footer p {
    margin: 15px 10px;
    font-size: 1rem;
}

.foot-nav {
    padding-bottom: 10px;
    border-bottom: #c7c7c7 solid 1px;
}

.foot-nav a {
    color: #737373;
    transition: all 0.2s linear;
}

.foot-nav a:hover {
    color: #000;
}

.foot-cont {
    display: flex;
    justify-content: space-between;
}

@media (max-width:1320px) {
    footer {
        padding: 10px 15px 20px;
    }
}

@media (max-width:768px) {
    .foot-cont {
        display: block;
    }

    footer img {
        margin: 20px auto 0;
    }

    .foot-nav {
        justify-content: center;
    }

    footer {
        padding: 10px 35px;
    }
}


/* breadcrumb */
.breadcrumb {
    background: var(--normalGray);
    border-radius: 0;
    padding: .75rem 35px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item.active {
    color: #444;
}

.breadcrumb-item a,
.breadcrumb-item {
    color: #000;
}

@media (max-width:1320px) {
    .breadcrumb {
        padding: .75rem 15px;
    }
}

/* submenu */
.submenu .nav {
    justify-content: center;
}
.submenu .nav li+li {
    margin-left: 15px;
}
.submenu .nav .nav-link {
    color: #000;
    border-radius: 30px;
    padding: .75rem 1.5rem;
    font-weight: 500;
}
.submenu .nav-pills .nav-link:hover,
.submenu .nav-pills .active .nav-link, 
.submenu .nav-pills .show>.nav-link {
    background-color: var(--normalYellow);
}
.submenu .bs-select .dropdown-toggle {
    color: #000;
    background-color: #fff;
}
.submenu .bs-select {
    border: #444 solid 1px;
    margin-bottom: 20px;
    border-radius: 20px;
}
@media (min-width: 320px) and (max-width: 568px) {
    .submenu ul {
        display: none;
    }
}

@media (min-width: 568px) {
    .submenu .bs-select,
    .submenu select,
    .submenu button {
        display: none;
    }
}

/* functionmenu */
.functionmenu {    
    position: relative;
    margin-bottom: 1.5rem;
}
.functionmenu::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background: #f2f2f2;
}
.functionmenu .btn {
    float: right;
    margin-top: -3rem;
    z-index: 1;
    position: relative;
}
.functionmenu .nav {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 1.5rem;
    display: flex;
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
}
.nav-line .nav-link {
    color: #000;
    font-weight: 500;
    padding: .5rem 1.5rem 1rem;
}
.nav-line .nav-link:hover {
    border-bottom: var(--normalYellow) solid 5px; 
}
.nav-line .active .nav-link:hover,
.nav-line .active .nav-link {
    border-bottom: #f7931e solid 5px; 
}

/* dataTable */
table.dataTable td,
table.dataTable th {
    border-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.dataTable tbody tr:last-child td {
    border-bottom: #ededed solid 1px;
}


table.dataTable thead>tr>th:not(.sorting_disabled):active {
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.35), inset 1px 0 1px rgba(255, 255, 255, 0.3), inset -1px 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(0, 0, 0, 0.3), 1px 0 1px rgba(255, 255, 255, 0.15), -1px 0 1px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(255, 255, 255, 0.2);
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 15px;
}
.dataTables_paginate .paging_simple_numbers {
    float: right;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    /* font-family: "Font Awesome 5 Free";     */
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0dc";
    bottom: 15px;
    margin-left: 7px;
}
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before, 
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before, 
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before, 
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
    bottom: 60%;
}
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

table.table-bordered.dataTable td:last-child {
    text-align: center;
}
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order, 
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order {
    position: relative;
    margin-left: 20px;
}
table.dataTable thead>tr>th:not(.sorting_disabled):active {
    box-shadow: none;
}
table.dataTable thead>tr>th.dt-orderable-asc:hover, 
table.dataTable thead>tr>th.dt-orderable-desc:hover {
    outline-color: transparent;
}
table.dataTable thead>tr>th.dt-orderable-asc, 
table.dataTable thead>tr>th.dt-orderable-desc {
    background: #696969;
    color: #fff;
    font-weight: 400;
}
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n)>* {
    background: var(--secondColor);
}

table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n) {
    border-radius: 20px;
    overflow: hidden;
}
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: none;
}
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n)>td:first-child {
    border-radius: 8px 0 0 8px;
}
table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n)>td:last-child {
    border-radius: 0 8px 8px 0;
}
/* .dt-bootstrap5>.row [class*="col-"], */
table.dataTable thead>tr>th.dt-orderable-asc:first-child, 
table.dataTable thead>tr>th.dt-orderable-desc:first-child {
    border-radius: 8px 0 0 8px;
}
table.dataTable thead>tr>th.dt-orderable-asc:last-child, 
table.dataTable thead>tr>th.dt-orderable-desc:last-child {
    border-radius: 0 8px 8px 0;
}
.dt-bootstrap5 {
    padding: 0 0 0 25px;
}
.dt-bootstrap5 .col-md-auto {
    padding-left: 0;
    width: fit-content;
    padding-right: 5px;
}
.dt-bootstrap5>.row .col-12 {
    padding: 0;
}
.dt-paging.paging_full_numbers .page-item.active .page-link {
    background: #000;
    border-color: #000;    
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25);
}
.dt-bootstrap5 .page-link {
    color: #000;
}
.dt-bootstrap5 .page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25);    
}
@media (max-width:767px) {
    div.dt-container div.dt-info {
        margin-bottom: 10px;
    }
    .dt-bootstrap5 .justify-content-between:last-child .col-md-auto{
        width: 100%;
    }
}

/* rwdTable */
@media (max-width: 767px) {
    .table-rwd {
        overflow: hidden;
        width: 100%;
    }

    .table-hover tbody tr:hover {
        background: transparent;
    }

    table.table-bordered.dataTable td:last-child {
        text-align: left;
    }

    .table-rwd tr {
        display: grid;
        width: 100%;
    }

    .table-rwd th {
        display: none;
    }

    .table-rwd td {
        display: block;
        width: 100%;
        position: relative;
        padding-left: 36%;
    }

    .table-rwd tr td:before {
        content: attr(data-title);
        font-weight: 500;
        display: inline-block;
        margin-right: 15px;
        padding: 0.75rem;
        width: calc(29% + 1.5rem);
        background: var(--normalGray);
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    .table-rwd tr:nth-child(even) td:before {
        background: var(--normalYellow);
    }

    .table-rwd tr+tr {
        border-top: 1px solid #f3f8fa;
    }
}

@media (max-width: 500px) {
    .table-rwd td {
        padding-left: 125px;
        border-top: 4px solid #f3f8fa;
    }

    .table-rwd tr td:before {
        width: 115px;
    }

    .drugTable tbody tr:nth-child(odd) {
        background: #fff;
    }

}

/* modal */
.modal-header {
    background: var(--normalYellow);
    border-color: transparent;
}
.modal-title {
    font-size: 1.2rem;
    font-weight: 500;
}
.modal-content {
    border-radius: 20px;
}
.modal .actions,
.modal-footer {
    display: flex;
    justify-content: center;
    border-color: transparent;
}
.modal [class*="btn-"]:not(.dropdown-toggle) {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    letter-spacing: 20px;
    text-indent: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 9px rgb(0, 0, 0, .1);
}
.modal-backdrop.show {
    opacity: .8;
}
@media (min-width:1025px) {
    .modal-body {
        padding: 25px;
    }
}