@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Material+Icons&family=Rubik&family=Poppins@1,500&family=Lusitana&family=Gothic+A1:wght@900&family=Noto+Sans+TC:wght@100;400;500;700&family=Noto+Serif+TC:wght@500;700&display=swap);

:root {
    --font-Sans: 'Noto Sans TC', sans-serif;
    --font-Serif: 'Noto Serif TC', serif;
    --font-Number: 'Rubik', sans-serif;
    --font-Size: 1.2em;
    --font-Title: 3rem;
    --font-p: 1.5rem;
    --dangerColor: #d20270;
    --normalRed: #ED1E79;
    --boxShadow: 3px 13px 27px rgb(0, 0, 0, , 1.5);
    --mainColor: #213162;
    --subColor: #E6F5FF;
}

* {
    font-family: var(--font-Sans);
}

body>* {
    position: relative;
    z-index: 1;
}

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 0;
}

/* comoon */
section {
    min-height: 100vh;
    position: relative;
    padding: 4rem 0 3rem;
}

@media (max-width:1024px) {
    section {
        min-height: auto;
        padding: 4rem 0 2rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 3rem 0 1.5rem;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}

ul {
    padding-inline-start: 0;
}
section .card {
    border: none;
}

.thin {
    font-weight: 100;
}
.btn:not(.dropdown-toggle) {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    margin: 10px 0;
}
.btn-follow {
    background: #fff;
    border: var(--normalRed) solid 1px;
    color: var(--normalRed);
    box-shadow: var(--boxShadow);
}

.btn-search {
    border-color: var(--normalRed);
    background: var(--normalRed);
    color: #fff;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    border-color: var(--dangerColor) !important;
    background: var(--dangerColor) !important;
}

.btn-submit,
.btn-more,
.btn-unfollow,
.btn-follow:hover {
    background: var(--normalRed);
    border: var(--normalRed) solid 1px;
    color: #fff;
    box-shadow: var(--boxShadow);
}

.btn-submit:not(:disabled):not(.disabled):active,
.btn-submit:active,
.btn-submit:focus,
.btn-submit:hover,
.btn-more:hover,
.btn-unfollow:hover {
    background: #fff;
    color: var(--normalRed);
    border: var(--normalRed) solid 1px;
}
.btn-reset:hover,
.btn-reset,
.btn-cancel:hover,
.btn-cancel {
    color: #fff;
    background: #B3B3B3;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    margin: 10px 0;
    box-shadow: var(--boxShadow);
}
.btn-cancel:active,
.btn-reset:active {
    color: #fff;
    background: #919191;
}
.btn-save {
    margin: 10px 0;
    color: #fff;
    background: #213162;
}
.btn-save:hover,
.btn-save:active {
    color: #fff;
    background: #000;
}
.btn-submit {
    color: #fff;
    background: var(--normalRed);
}
.btn-submit:hover,
.btn-submit:active {
    background: var(--dangerColor);
    color: #fff;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.icon-figma::before {
    content: '';
    display: inline-block;
    background: url(../images/icon-figma.svg) no-repeat 0 bottom;
    background-size: 69%;
    width: 18px;
    height: 14px;
}

@media (max-width:1199px) {
    p {
        font-size: 1rem;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}
@media (max-width:1024px) {
    .btn-follow,
    .btn-unfollow,
    .btn-send,
    .btn-more {
        padding: 15px 1rem;
        font-size: 1rem;
    }
}
@media (max-width:768px) {
    .btn:not(.dropdown-toggle) {
        font-size: 1rem;
    }
    .thin {
        font-weight: 500;
    }
}
@media (max-width:550px) {
    .btn:not(.dropdown-toggle) {
        padding: 0.375rem 0.75rem;
    }
}
@media (max-width:390px) {
    section h3 {
        width: 80%;
        margin: 0 auto 1.5rem;
    }
}

.btn-scroll,
.btn-scroll:hover {
    background: url(../images/btn-scorll.png) no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    border: rgb(255, 255, 255, .4) solid 10px;
    border-radius: 50%;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 105px;
    z-index: 2;
}


main {
    overflow-x: hidden;
    z-index: 0;
    position: relative;
    padding-bottom: 3rem;
}
@media (max-width:768px) {
    main {
        padding-bottom: 0;
    }
}
header {
    background: var(--mainColor);
    box-shadow: 0 5px 15px rgb(0, 0, 0, .1);
}

header.affix {
    width: 100%;
}

.affix {
    position: fixed !important;
    top: 0;
    z-index: 2;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.nav-brand {
    padding: 20px;
    display: block;
}

.nav-brand img {
    height: 40px;
    margin-right: 2rem;
}

/* navigation */
header .navigation {
    background: var(--mainColor);
    display: block;
    height: 80px;
}

.nav-toggle:before {
    background-color: #fff;
    box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}

.nav-dropdown>li>a {
    color: var(--mainColor);
    padding: 17px 20px;
    font-size: 1.4rem;
}

.navigation-portrait .nav-menu>li>a,
.nav-menu>li>a {
    padding: 13px 10px 13px 30px;
    font-size: 1.1rem;
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
    color: var(--dangerColor);
}

.nav-menu:not(.nav-btn)>li>a {
    height: auto;
    position: relative;
}

.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    color: var(--normalRed);
}

.nav-dropdown>li.active>a,
.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    color: #fff;
    background: var(--dangerColor);
}

.nav-dropdown>li>a {
    font-size: 1.1rem;
    border: none;
}

.nav-dropdown>li+li>a {
    border-top: 1px solid #f6f6f6;
}

.nav-menu>li.nav-join>a {
    background: var(--normalRed);
    color: #fff;
}

.nav-menu>li.nav-join>a:hover {
    background: var(--dangerColor);
}

.nav-menu>li.nav-member>a {
    background: #fff;
    color: var(--mainColor);
    border-radius: 0;
    margin: 0;
}

.nav-menu>li.nav-member>a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #0017ff;
}

.nav-menu>li.nav-login>a {
    background: var(--mainColor);
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    line-height: 1.5rem;
    border: none;
}

.nav-menu>li.nav-login>a:hover {
    background: #fff;
    color: var(--mainColor);
}

.navigation-portrait .nav-menu>li.nav-join {
    border: none;
}

.navigation em {
    color: #fff;
    font-size: .5rem;
    font-style: normal;
    line-height: 1.2rem;
    display: inline-block;
    border-radius: 10px;
    padding: 0 7px 2px;
    margin-left: 5px;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%);
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@media (min-width:1025px) {
    .nav-menus-wrapper .nav-menu:first-of-type {
        margin: auto;
        display: block;
        /* width: fit-content; */
    }

    .submenu-indicator {
        display: none;
    }

    .nav-menu>li {
        position: relative;
        height: 100%;
    }

    .nav-menu:not(.nav-btn)>li>a {
        padding: 35px 26px 0;
        color: #fff;
        height: 100%;
        opacity: .8;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .nav-menu:not(.nav-btn)>li:hover>a,
    .nav-menu:not(.nav-btn)>li.active>a,
    .nav-menu:not(.nav-btn)>li.focus>a {
        color: #fff;
        opacity: 1;
    }

    .nav-menu:not(.nav-btn)>li:hover>a::before,
    .nav-menu:not(.nav-btn)>li.active>a::before,
    .nav-menu:not(.nav-btn)>li.focus>a::before {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: #fff;
    }

    /* .nav-menus-wrapper .nav-menu:last-of-type a {
        padding: 10px 26px;
        box-shadow: 0px 0px 9px rgb(0, 0, 0, .1);
    } */
    .nav-menu.nav-btn>li>a {
        height: 100%;
        padding: 28px 30px;
        /* align-items: center;
        display: flex; */
    }

    .nav-menu>li.nav-join>a {
        padding: 28px 40px;
    }

    .nav-menu>li.nav-login>a {
        background: transparent;
    }

    .nav-dropdown>li>a {
        text-align: center;
    }

    .nav-menu>li>.nav-dropdown {
        border-top: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 13px;
        right: -2rem !important;
        margin-top: -5px;
    }
}

@media (max-width:1366px) {
    .nav-menus-wrapper .nav-menu:first-of-type {
        width: auto;
    }

    .nav-header {
        padding-right: 2rem;
    }
}

@media (max-width:1280px) {
    header {
        padding: 0;
        max-width: 100%;
    }

    .nav-brand img {
        height: 40px;
    }
}

@media (max-width:1200px) {
    .nav-menu>li>a {
        padding: 26px 20px;
    }
}

@media (max-width:1150px) {
    .nav-menu>li>a {
        padding: 20px;
    }
}

@media (min-width:1025px) and (max-width:1150px) {
    .nav-menus-wrapper .nav-menu:last-of-type a {
        padding: 10px 17px;
        font-size: 1rem;
        line-height: 3.2rem;
    }

    .nav-header {
        padding-right: 1rem;
    }
}

@media (max-width:1024px) {
    .navigation em {
        font-size: 14px;
    }

    .navigation-portrait .nav-dropdown>li>a {
        background-color: #f4faff;
        padding: 12px 20px 12px 40px;
        width: 100%;
    }
    .navigation-portrait .nav-dropdown>li.active>a {
        background-color: var(--dangerColor);
    }

    .nav-dropdown>li:not(:last-child)>a {
        border-bottom: 1px solid #e3f2ff;
    }

    .nav-menu>li.nav-login>a {
        text-align: left;
    }

    .navigation-portrait {
        height: 70px;
    }

    .navigation {
        display: block;
        overflow: hidden;
    }

    .nav-header {
        padding-right: 0;
        width: 100%;
    }

    .navigation-portrait .nav-menus-wrapper .nav-menu>li>a {
        opacity: 0;
    }

    .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right .nav-menu>li>a {
        opacity: 1;
    }
}

@media (max-width:768px) {
    .nav-brand img {
        height: 40px;
    }
}

.nav-btn {
    border-radius: 20px;

}



/* top */
.btn-top,
.btn-top:hover {
    background: var(--normalRed);
    display: block;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 1;
    opacity: 0;
    text-indent: 4px;
    transition: all 0.2s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-top {
    bottom: 35px;
    right: 35px;
}

.btn-top:hover {
    background: #fff;
    color: var(--normalRed);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.btn-top.show {
    opacity: 1;
    cursor: pointer;
}

.btn-top:hover {
    text-decoration: none;
}

.btn-top svg {
    font-size: 1.2rem;
}


.btn-top span {
    line-height: 2.3rem;
}

@media(max-width:767px) {
    .btn-top {
        bottom: 20px;
        right: 20px;
    }
}

@media(max-width:645px) {
    .btn-top {
        bottom: 10px;
        right: 10px;
    }
}

/* footer */
footer {
    background: #293766;
    color: #fff;
    position: relative;
    padding: 2rem 0;
    text-align: center;
}

footer .container {
    max-width: 80%;
}

footer img {
    display: block;
    margin: 2rem auto 1rem;
}

footer p {
    margin-bottom: 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
}

footer hr {
    border-color: #4d4d4d;
    margin-bottom: 3rem;
}

.footer-menu,
.footer-copy {
    text-align: left;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 4rem;
}

.footer-menu ul li+li {
    margin-top: 3px;
}

.footer-menu ul li a {
    position: relative;
}

.footer-menu ul li a,
.footer-menu ul li a:hover {
    color: #fff;
    line-height: 1.75rem;
    text-decoration: none;
}

.footer-menu ul li a:hover,
.footer-menu ul li a:hover::before {
    color: #fff;
}

.footer-menu ul li a::after {
    content: "";
    border-bottom: solid 1px #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}

.footer-menu ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

@-webkit-keyframes underline {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes underline {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.footer-menu-title {
    font-size: 1.2rem;
    position: relative;
    margin-bottom: .5rem;
}

footer .container>.row {
    justify-content: space-between;
}

footer em {
    display: none;
}

.footer-copy {
    border-top: #fff solid 1px;
    align-items: center;
    padding-top: 1rem;
}

.footer-copy p {
    color: #fff;
    text-align: right;
}

.footer-copy [class*="col"] {
    padding: 0;
}

.social-list li+li {
    margin-left: 5px;
}

.social-list li {
    text-align: center;
    list-style: none;
    float: left;
}

.social-list a {
    background: #fff;
    border: #fff solid 1px;
    padding: 10px 10px 8px 10px;
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
}

.social-list a:hover {
    background: transparent;
}

.social-list a:hover svg {
    color: #fff;
}

.social-list svg {
    color: var(--mainColor);
    font-size: 1.5rem;
}

.fb-box {
    overflow: hidden;
}
@media (max-width:991px) {    
    .fb-box {
        width: 300px;
        margin: 0 auto 2rem;
    }
}
@media (max-width:768px) {
    .social-list {
        display: block;
        margin: 0 auto 1rem;
        width: fit-content; 
        overflow: auto;       
    }
    .footer-copy p {
        text-align: center;
    }
}
@media (max-width: 767px) {
    footer .container {
        max-width: 720px;
    }
}

@media (max-width:720px) {
    footer {
        padding: 2rem 0;
    }
}


/* index swiper */
.intro {
    padding: 0 0 3rem;
    min-height: auto;
}

.intro .swiper-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.intro .swiper-slide-container {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    height: 100%;
    /* max-width: 600px; */
    margin: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.intro .gallery-top {
    height: 650px;
    width: 100%;
}

.intro .gallery-top .item {
    height: 100%;
    width: 100%;
    position: relative;
}

.intro .gallery-top .swiper-slide img {
    width: 100%;
    /* max-height: 100%; */
    position: relative;
    z-index: 1;
}

.intro .gallery-top .swiper-slide-container .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* thumbs-wrap */
.thumbs-wrap {
    position: relative;
    margin-top: -25px;
}

.intro .gallery-thumbs {
    max-width: 90%;
    margin: auto;
    height: 20%;
    box-sizing: border-box;
}

.thumbs-wrap .swiper-slide-container {
    padding: 20px;
}

.intro .gallery-thumbs .swiper-slide {
    overflow-x: hidden;
}

.intro .gallery-thumbs .swiper-slide img {
    width: 100%;
}

.intro .gallery-thumbs .item {
    background: var(--mainColor);
    box-shadow: #000 0px 2px 10px;
}

.intro .gallery-thumbs .item:hover {
    cursor: pointer;
}

.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
}

.gallery-thumbs .swiper-slide img {
    opacity: 0.4;
    transition: all 0.2s linear;
}

.gallery-thumbs .swiper-slide:hover img,
.gallery-thumbs .swiper-slide-active img {
    opacity: 1;
}

@media (max-width:1840px) {
    .thumbs-wrap {
        margin-top: -4rem;
    }
}

@media (max-width:1800px) {
    .thumbs-wrap {
        margin-top: -5rem;
    }
}

@media (max-width:1775px) {
    .thumbs-wrap {
        margin-top: -6rem;
    }
}

@media (max-width:1720px) {
    .thumbs-wrap {
        margin-top: -8rem;
    }
}

@media (max-width:1600px) {
    .thumbs-wrap {
        margin-top: -10rem;
    }
}

@media (max-width:1520px) {
    .intro .gallery-top {
        height: 60vh;
    }

    .thumbs-wrap {
        margin-top: -4rem;
    }

    .slide-wrap .swiper-slide {
        width: 100% !important;
    }
    .intro {
        padding: 0 0 1rem;
    }
    .intro .gallery-thumbs {
        height: auto;
    }
    
    .intro .gallery-top {
        height: auto;
    }
    
    .thumbs-wrap {
        margin-top: -30px;
    }
}

@media (max-width:1366px) {
    
    .gallery-thumbs .swiper-slide {
        width: 33.33%;
    }
}

@media (max-width:991px) {
    .gallery-thumbs .swiper-slide {
        width: 50%;
    }
}

/* common */
section {
    text-align: center;
}

section h2 {
    font-size: 2.6rem;
    color: #004E82;
    margin-bottom: 2.5rem;
}

.swiper-wrapper {
    height: auto;
}

.swiper-slide .card {
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
}

.swiper-button-prev,
.swiper-button-next {
    background: var(--mainColor);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: #29abe2;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-prev::before {
    color: #fff;
    content: "\f104";
    font: normal normal normal 1.6rem/1 FontAwesome;
    ;
}

.swiper-button-next::before {
    color: #fff;
    content: "\f105";
    font: normal normal normal 1.6rem/1 FontAwesome;
}

.card {
    border-radius: 0;
}

.card-title {
    text-align: left;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-text {
    text-align: left;
}
.card img {
    max-width: 100%;
}

/* teacher-wrap */
.teacher-wrap>.row {
    margin: 0;
}

.teacher-wrap .swiper-wrapper {
    margin-bottom: 2rem;
}

.teacher-swiper {
    width: 85%;
    margin: 0 auto;
    overflow-x: hidden;
}

.teacher-wrap .swiper-slide {
    font-size: 18px;
}

.teacher-wrap .card>a {
    background: #0071BC;
    position: relative;
    overflow: hidden;
}

.teacher-wrap [class*="col-"] .card {
    margin-bottom: 2rem;
}

.teacher-wrap .card a:hover img {
    opacity: .3;
}

.teacher-wrap .card>a::before {
    content: "View";
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    z-index: 99;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 78px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.teacher-wrap .card>a::before {
    opacity: 0;
    transform: translateY(250px);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.teacher-wrap .card>a:hover::before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.teacher-wrap .card img {
    display: block;
    width: 101%;
    /* height: 100%; */
    /* object-fit: cover; */
    transition: .7s;
}

.teacher-wrap .btn-follow,
.teacher-wrap .btn-unfollow {
    position: absolute;
    right: 10px;
    top: 6px;
    padding: 0.5rem;
    z-index: 1;
    font-size: .8rem;
}

.teacher-wrap .btn-follow svg,
.teacher-wrap .btn-unfollow svg {
    margin-right: 0;
}

.teacher-wrap .btn-unfollow {
    background: var(--normalRed);
}
.teacher-wrap .btn-unfollow svg {
    color: #fff;
}
.teacher-wrap .btn-follow,
.teacher-wrap .btn-unfollow:hover {
    background: #fff;
    border: #ccc solid 1px;
}

.teacher-wrap .btn-follow svg,
.teacher-wrap .btn-unfollow:hover svg {
    color: #ccc;
}

.teacher-wrap .btn-follow:hover {
    background: var(--normalRed);
    border: var(--normalRed) solid 1px;
}

.teacher-wrap .btn-follow:hover svg {
    color: #fff;
}

.teacher-wrap .card-body {
    position: relative;
}

.teacher-wrap .card-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #E6E6E6;
    margin: 1rem 0 0.8rem;
}

.teacher-wrap .card-text {
    font-size: 1rem;
    text-align: left;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-cover,
.btn-cover:hover {
    text-indent: -999em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.data-info {
    position: relative;
    z-index: 1;
}

.data-info li {
    float: left;
    list-style: none;
    margin-right: 15px;
    font-family: var(--font-Number);
}

.data-info li svg {
    margin-right: .2em;
    color: #0071BC;
}

@media (max-width:500px) {
    .teacher-wrap [class*="col-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* bg-photo */
.bg-photo {
    background: url(../images/bg-photo.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.bg-photo::before {
    content: '';
    display: block;
    background: rgba(238, 246, 251, 0.95);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-photo.darken::before {
    content: '';
    display: block;
    background: rgb(9, 25, 79, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-photo h2 {
    color: #102A4F;
}

.bg-photo>* {
    position: relative;
    z-index: 1;
}

/* video */
.video h2 {
    color: #fff;
}

#videoTab {
    border: none;
    justify-content: center;
}

#videoTab li+li {
    margin-left: 15px;
}

.video .nav-tabs .nav-link,
.video .nav-pills .nav-link.active,
.video .nav-pills .show>.nav-link {
    border: none;
    font-size: 1.2rem;
}

.video .nav-pills .nav-link,
.video .nav-pills .show>.nav-link {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
}

.video .nav-pills .nav-link.active,
.video .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--normalRed);
}

.video .tab-content>.tab-pane {
    padding: 2rem 0;
}

/* video-wrap */
.video-swiper {
    width: 100%;
}

.video-swiper .swiper-slide {
    font-size: 18px;
    transition: .7s;
    transform: scale(0.6);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.video-swiper .swiper-slide .card {
    width: 100%;
}

.video-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-swiper .swiper-slide.swiper-slide-active {
    transform: scale(1);
}

.video-wrap .swiper-button-next {
    right: 400px;
}

.video-wrap .swiper-button-prev {
    left: 400px;
}

.video-swiper .card-title {
    text-align: center;
    font-weight: 400;
}

@media (max-width:1800px) {
    .video-wrap .swiper-button-next {
        right: 320px;
    }

    .video-wrap .swiper-button-prev {
        left: 320px;
    }
}

@media (max-width:1440px) {
    .video-wrap .swiper-button-next {
        right: 250px;
    }

    .video-wrap .swiper-button-prev {
        left: 250px;
    }
}

@media (max-width:1200px) {
    .video-wrap .swiper-button-next {
        right: 200px;
    }

    .video-wrap .swiper-button-prev {
        left: 200px;
    }
}

@media (max-width:991px) {
    .video-wrap .swiper-button-next {
        right: 160px;
    }

    .video-wrap .swiper-button-prev {
        left: 160px;
    }
}

@media (max-width:835px) {
    .video-wrap .swiper-button-next {
        right: 140px;
    }

    .video-wrap .swiper-button-prev {
        left: 140px;
    }
}

@media (max-width:720px) {
    .video-wrap .swiper-button-next {
        right: 110px;
    }

    .video-wrap .swiper-button-prev {
        left: 110px;
    }
}

@media (max-width:600px) {
    .video-swiper .swiper-slide .card {
        margin: 0 45px;
    }

    .video-wrap .swiper-button-next {
        right: 20px;
    }

    .video-wrap .swiper-button-prev {
        left: 20px;
    }
}

/* feedback-wrap */
.feedback {
    min-height: auto;
}

.feedback-wrap {
    position: relative;
}

.feedback-swiper {
    width: 80%;
    margin: auto;
    overflow-x: hidden;
    text-align: left;
}

.feedback-swiper .card-title {
    color: #3DA3D4;
}

.feedback-wrap .swiper-button-prev {
    left: 50px;
}

.feedback-wrap .swiper-button-next {
    right: 50px;
}

@media (max-width:1366px) {
    .feedback-wrap .swiper-button-next {
        right: 30px;
    }

    .feedback-wrap .swiper-button-prev {
        left: 30px;
    }
}

@media (max-width:915px) {
    .feedback-wrap .swiper-button-next {
        right: 20px;
    }

    .feedback-wrap .swiper-button-prev {
        left: 20px;
    }
}

/* article */
.article {
    min-height: auto;
}

.article .container {
    max-width: 80%;
}

.article-wrap {
    margin-bottom: 4rem;
}

.article .card {
    box-shadow: rgba(35, 77, 119, 0.5) 0px 0px 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.article .card:hover {
    box-shadow: rgba(35, 77, 119, 0.5) 0px 20px 20px 0px;
    transform: translatey(-20px);
}

.article .card-title {
    position: relative;
}

.article .card-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #d6d6d6;
    margin: 10px 0;
}

.article .card-body {
    padding: 1.8rem 2rem;
}

.article .card .data-info {
    text-align: left;
}

.article .card .data-info a,
.article .card .data-info a:hover {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.article .card .data-info a:hover {
    color: #3DA3D4;
}

@media (max-width:1199px) {
    .article [class*="col-"]+[class*="col-"] {
        margin-top: 2rem;
    }

}

/* cooperation */
.cooperation {
    min-height: auto;
}

.cooperation-wrap {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.cooperation .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooperation .swiper-slide img {
    max-width: 100%;
    height: 100%;
}

.cooperation .swiper-button-prev,
.cooperation .swiper-button-next {
    margin-top: 0;
}
@media (max-width:500px) {
    .cooperation-wrap {
        width: 55%;
    }
}

/* loginModal */
#loginModal .form-group {
    position: relative;
}

#loginModal .form-group+.form-group {
    margin-top: .5rem;
}

#loginModal .form-group label {
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 1rem;
    color: #7d7d7d;
    background-color: #fff;
    padding: 0 8px;
    -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#loginModal .form-group label.active {
    top: -12px;
    color: #444;
}

#loginModal .form-control {
    height: calc(1.5em + 0.75rem + 8px);
}

#loginModal .form-control:focus {
    color: #495057;
    border-color: #ddd;
    outline: 0;
    box-shadow: none;
}

/* loginModal */
.modal-header {
    border: none;
}
#loginModal .modal-header {
    background: #29ABE2;
    color: #fff;
    text-align: center;
    padding: 2rem 0 4rem;
}
#loginModal .modal-header .close {
    right: 8px;
    top: 13px;
    position: absolute;
}
.modal-header .modal-title {
    font-size: 1.4rem;
    font-weight: 500;
}
#loginModal .modal-header .modal-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
}

#loginModal .form {
    width: 350px;
    max-width: 100%;
    margin: auto;
    text-align: left;
}

#loginModal .forgot {
    overflow: auto;
}

#loginModal .forgot li {
    list-style: none;
    float: left;
}

#loginModal .forgot li+li::before {
    content: '/';
    margin: 0 5px;
}

#loginModal .forgot li a {
    color: #444;
}

#loginModal .modal-body {
    width: 90%;
    margin: .5rem auto;
}

#loginModal .btn {
    padding: 0.25rem 2rem;
}

.btn-register-submit,
.btn-login {
    background: var(--normalRed);
    border: var(--normalRed) solid 1px;
    color: #fff;
    /* padding: 0.7rem 2rem;
    font-size: 1.2rem;
    margin: 10px 0; */
    box-shadow: var(--boxShadow);
}

#loginModal .btn-register-submit:hover,
#loginModal .btn-login:hover {
    background: var(--dangerColor);
    color: #fff;
    border-color: var(--dangerColor);
}

#loginModal .btn-register-submit:active,
#loginModal .btn-register-submit:focus,
#loginModal .btn-login:active,
#loginModal .btn-login:focus {
    background: var(--dangerColor);
    border: var(--dangerColor) solid 1px;
}

.btn-login:hover {
    border-color: var(--normalRed);
}

#loginModal .btn-member,
#loginModal .btn-register {
    border-color: var(--normalRed);
    background: #fff;
    color: var(--normalRed);
}

#loginModal .btn-member:hover,
#loginModal .btn-register:hover {
    color: #fff;
    background: var(--mainColor);
    border-color: var(--mainColor);
}

.sign_box {
    display: none;
}

.validimg {
    margin-bottom: 20px;
}

.validimg img {
    margin-top: 5px;
    display: block;
}

.validimg img:hover {
    cursor: pointer;
}

/* ============== 中文嚴選良師 ================= */
main>div>.container {
    max-width: 80%;
}

@media (max-width:1366px) {
    main>div>.container {
        max-width: 95%;
    }
}
@media (max-width:1024px) {
    main>.container {
        max-width: 100%;
    }
}
@media (max-width:360px) {
    main>div>.container {
        max-width: 98%;
    }
}

.jumbotron {
    padding: 2rem 2rem 4rem;
    position: relative;
    z-index: 2;
    margin: 0;
    background-position-x: center !important;
}

.jumbotron::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #00153D;
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.jumbotron>* {
    position: relative;
    z-index: 1;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.jumbotron .container {
    max-width: 80%;
    padding: 0;
}

.search_box {
    width: 768px;
    margin: auto;
    max-width: 100%;
}

.search_box.affix {
    background: rgba(230, 245, 255, 0.9);
    width: 100%;
    padding: 2rem 4rem;
    position: fixed;
    top: 80px;
    left: 0;
}
@media (max-width:1024px) {
    .jumbotron {
        padding: 3rem 1rem;
    }
    .jumbotron h1 {
        font-size: 2rem;
        margin-bottom: 0;
    } 
}
@media (max-width:768px) {
    .jumbotron h1 {
        font-size: 1.8rem;
    } 
}
@media (max-width:500px) {
    .jumbotron {
        padding: 2rem 0.5rem;
    }
    .jumbotron h1 {
        font-size: 1.5rem;
    } 
}

/* breadcrume */
.breadcrumb {
    background: transparent;
    padding: 0;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: #fff;
}

@media (max-width:1024px) {
    .breadcrumb {
        display: none;
    }
}

/* search_box */
.search_box .multiselect-container .multiselect-filter>input.multiselect-search {
    margin: 0;
}

.multiselect-container .multiselect-filter>.fa-search {
    padding-left: 0;
    position: absolute;
    left: 8px;
}

/* sortbox */
.sortbox {
    background: #E6F5FF;
    padding: 1rem 0 0;
    margin-bottom: 3rem;
}
.sortbox .nav {    
    max-width: 80%;
    margin: auto;
    align-items: center;
    padding-inline-start: 15px;
}
.sortbox .nav .nav-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #333;
}
.sortbox .nav-pills .nav-link {
    background-color: #fff;    
    color: #333;
}
.sortbox .nav-pills .nav-link.active, 
.sortbox .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--normalRed);
}
@media (max-width:1024px) {
    .sortbox .nav {
        justify-content: center;
    }
}
/* pagination */
.pagination {
    justify-content: center;
}
.pagination .page-link {
    margin: 0 2px;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {    
    border-radius: 0;
}

/* ============== 中文嚴選良師內頁 ================= */
/* profolio-wrap */
.profolio-wrap {
    background: #F7F7F7;
    position: relative;
}
.profolio-wrap::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    background: #fff;
}
.avatarbox {
    margin-top: -4rem;
}
.avatarbox img {
    max-width: 100%;
    border: none;
    box-shadow: rgba(35, 77, 119, 0.05) 0px 0px 15px;
}
.namebox {
    padding: 20px 0;
    font-weight: 500;
}
.name {
    font-size: 1.5rem;
}
.profolio-wrap .card {
    border: none;
    margin-bottom: 1.5rem;
    box-shadow: rgba(35, 77, 119, 0.05) 0px 0px 15px;
}
.profolio-wrap .card-body .title {
    padding: 5px;
}
.profolio-wrap .card-header {    
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    border-color: #F3F3F3;
}
.profolio-wrap .card img {
    width: 100%;
}
@media (max-width:991px) {
    .profolio-wrap::before {
        display: none;
    }
    .avatarbox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 0 0;
    }
    .namebox {            
        width: fit-content;
        margin: auto;
    }
    /* .profolio-wrap .container>.row>[class*="col-"]:last-child {
        -ms-flex-order: 1;
        order: 1;
    }
    .profolio-wrap .container>.row>[class*="col-"]:first-child {
        -ms-flex-order: 2;
        order: 2;
    } */
}

/* functionbar */
.functionbar {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.datainfo ul {
    list-style: none;
}
.datainfo ul li {
    float: left;
    padding: 1.5rem 5px;
}
.datainfo ul li+li::before {
    color: #E6E6E6;
    content: '│';
    margin: 0 10px 0 0;
}
.datainfo ul li span {
    /* color: #4D4D4D; */
    font-size: 1.2rem;
}
.datainfo .dataname {
    color: #999;
    margin-right: 5px;
}
.actions-group .btn+.btn {
    margin-left: 10px;
}
@media (max-width:1280px) {
    .datainfo ul li span {
        font-size: 1.1rem;
    }
}
@media (max-width:991px) {
    .functionbar {
        display: block;
    }
    .actions-group,
    .datainfo {
        display: flex;
        justify-content: center;
    }
    .datainfo ul li {
        padding: 0.5rem 5px;
    }
}
@media (max-width:500px) {
    .datainfo ul {
        margin-bottom: 0;
    }
    .datainfo ul li span {
        font-size: 1rem;
    }
}

/* type-title */
.type-title {
    position: relative;
    padding-left: 15px;
    margin: 0 -20px 1rem;
}
.type-title::after  {
    content: '';
    display: block;
    background: var(--normalRed);
    position: absolute;
    width: 100%;
    height: 8px;
    top: 10px;
    left: 0;
    z-index: 0;
}
.type-title span {
    background: #fff;
    padding: 0 10px;
    z-index: 1;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
}
.grade-item ul {
    position: relative;
    padding: 10px 0 5px;
}
.grade-item li {
    list-style: none;
    border-left: #E6E6E6 solid 2px;
    padding: 0px 10px 6px;    
    margin-left: 12px;
} 
.grade-name {
    font-size: 1rem;
    font-weight: bold;
}
.grade-item .case {
    width: 65px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    border-right: #E6E6E6 solid 1px;
    margin-right: 7px;
}
.grade-item .unit {
    margin-right: 5px;
}
.highlight {
    color: var(--normalRed);
}
@media (max-width:1420px) {
    .grade-item li {
        margin-left: 5px;
    }
}
@media (max-width:1170px) {
    .grade-name {
        margin-left: -5px;
    }    
    .grade-item li {
        margin-left: 0;
    }
    .case {
        width: 60px;
    }
}
@media (min-width:992px) and (max-width:1124px) {
    .case {
        width: 100%;
        border: none;
        text-align: left;
    }
    .grade-item li+li {
        padding-top: .5rem;
    }
}
@media (max-width:991px) {
    .grade-list {
        overflow: auto;
    }
    .grade-item {
        width: 50%;
        float: left;
        padding-left: 15px;
    }
}
@media (max-width:678px) {
    .grade-item {
        width: 100%;
    }
}

/* fancybox */
[data-fancybox] {
    display: block;
    box-shadow: rgba(35, 77, 119, 0.1) 0px 0px 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
[data-fancybox]:hover {
    box-shadow: rgba(35, 77, 119, 0.5) 0px 20px 20px 0px;
    transform: translatey(-20px);
}

.fancybox-caption {
    text-align: center;
}
.fancybox-caption::before,
.fancybox-caption::after {
    opacity: 0;
}
.fancybox-button {
    background: transparent;
}
.fancybox-button, 
.fancybox-button:link, 
.fancybox-button:visited {
    color: #fff;
}
.fancybox-button.disabled, 
.fancybox-button.disabled:hover, 
.fancybox-button[disabled], 
.fancybox-button[disabled]:hover {
    color: #888;
}
.fancybox-bg {
    background: rgb(9, 25, 79, .7);
}
.fancybox-ytview .fancybox-stage .fancybox-content {
    height: calc(60% - 44px);
    width: 50%;
}
.video-group [data-fancybox]::before {
    font: normal normal normal 1.5rem/1 FontAwesome;
    content: "\f04b";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    color: #fff;
    border: #fff solid 1px;
    border-radius: 50%;
    padding: 16px 0 0 22px;
}


/* article-group */
.article-group .card {
    box-shadow: rgba(35, 77, 119, 0.1) 0px 0px 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 2rem;
    position: relative;
}

.article-group .card:hover {
    box-shadow: rgba(35, 77, 119, 0.5) 0px 20px 20px 0px;
    transform: translatey(-20px);
}

.article-group .card a {
    text-indent: -999em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


/* ============== 寫作送批 ================= */
.sendcontact {
    background: #F7F7F7;
    padding-bottom: 4rem;
}
.sendcontact::after {
    content: '';
    display: block;
    width: 100%;
    height: 4rem;
    background: #F7F7F7;
    position: absolute;
    bottom: 0;
}
.sendcontact .form {
    position: relative;    
    z-index: 2;
    padding: 4rem 10rem;
    margin-top: -3rem;    
    margin-bottom: -3rem;
    background: #fff;
    box-shadow: rgba(35, 77, 119, 0.05) 0px 0px 15px;
}
.form-section:not(:first-child) {
    border-top: #B3B3B3 solid 2px;
    padding-top: 1rem;
}
.form-section .alert {
    padding: 0;
}
.notice-end {
    max-width: 70%;
    margin: 2rem auto;
}
.section-title {
    font-size: 1.4rem;
    margin: 0;
}

.form-actions {
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: center;
}
.form-actions .btn {
    width: 150px;
}
.form-actions .btn+.btn {
    margin-left: 1rem;
}

.input-group-append .btn {
    font-size: 1rem;
    margin: 0;
    padding: 0.375rem 0.75rem;
}
.input-group-append .btn+.btn {
    margin-left: 1px;
}
@media (max-width:1366px) {
    .sendcontact .form {
        padding: 4rem 6rem;
    }
    .notice-end {
        max-width: 100%;
        margin: 1rem auto;
    }
    .form-actions {
        margin: 1rem 0;

    }
}
@media (max-width:1199px) {
    .sendcontact .form {
        padding: 3rem 6rem;
    }
}
@media (max-width:1024px) {
    .sendcontact {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .sendcontact .form {
        margin: 0;
        padding: 2rem;
    }
}
@media (max-width:991px) {
    .sendcontact .form {
        padding: 2rem 4rem;
    }
}
@media (max-width:767px) {
    .section-title {
        margin-bottom: 1rem;
    }
    .form-section:not(:first-child) {
        margin-top: 1rem;
    }
    .sendcontact .form {
        padding: 2rem;
    }
    .form-actions {
        margin: 0;
    }
}
@media (max-width:420px) {
    .notice-end {
        margin: 0 auto;
    }
    .form-actions {
        display: block;
        text-align: center;
    }
    .form-actions .btn+.btn {
        margin-left: 0;
    }
    .sendcontact .form {
        padding: 1rem;
    }
}
@media (max-width:350px) {
    .input-group,
    .input-group-append {
        display: block;
        position: relative;
    }
    .input-group .form-control {
        margin-bottom: .5rem;
    }
    .input-group-append .btn-search {
        border-radius: 0.25rem !important;
        width: 100%;
    }
    .input-group .form-control {
        width: 100%;
        border-radius: 0.25rem !important;
    }
    .sendcontact {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

/* bootstrap-tagsinput */
.bootstrap-tagsinput {
    height: 100%;
}
.bootstrap-tagsinput+.form-control {
    opacity: 0;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
    display: none;
}
.teacher-notice {
    font-size: 1rem;
    padding: 5px;
    display: block;
}
.teacher-notice .num {
    font-weight: bold;
    color: var(--dangerColor);
}
.input-upload {
    position: relative;
}
.input-upload>[type=file] {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.input-upload span {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    text-align: left;
    overflow: hidden;
}
.input-upload span::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "瀏覽檔案";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

/* bootstrap-select */
.bootstrap-select>.dropdown-toggle {
    background: #fff;
    border: 1px solid #ced4da;
}
.bootstrap-select>.dropdown-toggle:not(:disabled):not(.disabled).active, 
.bootstrap-select>.dropdown-toggle:not(:disabled):not(.disabled):active, 
.show>.btn-light.dropdown-toggle {
    background-color: #fff;
    border-color: #d3d9df;
}
.bootstrap-select .dropdown-toggle:focus, 
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0 !important;
}
.bootstrap-select .dropdown-menu li a:hover {
    background-color: #ffebf4;
}
.bootstrap-select .dropdown-menu li a.active,
.bootstrap-select .dropdown-menu li a:focus,
.bootstrap-select .dropdown-item:active {
    background: var(--normalRed);
}

/* nonchooseModal */
#nonchooseModal img {
    margin: 2rem 0;
}
#nonchooseModal .modal-body {
    padding: 0 2rem 2rem;
}

.btn-teacher-list {
    color: var(--dangerColor);
    border-color: var(--dangerColor);
}
.btn-teacher-list:hover {
    border-color: var(--dangerColor);
    background: var(--dangerColor);
}
@media (min-width: 992px) {
    .modal-md {
        max-width: 400px;
    }
}

/* select-teacher-list */
.select-teacher-list {
    margin: 1rem 0;
    overflow: auto;
    height: 355px;
}
.select-teacher-list .text-muted {
    display: block;
}
.teacher-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-bottom: #ddd solid 1px;
}
.teacher-info {
    position: relative;
    display: flex;
    margin-right: 20px;
    width: 50%;
}
.teacher-info .avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.teacher-info .avatar img {
    max-width: 100%;
}
.teacher-info .info {
    text-align: left;
}
.teacher-info .info .name  {
    font-size: 1.2rem;
    margin-right: 5px;    
}
.teacher-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-indent: -999em;
}
.teacher-item .form-check-inline {
    align-items: baseline;
    margin-right: 2.5rem;

}
.teacher-item .form-check-inline .form-check-input {    
    transform: scale(1.2);
}
.teacher-item .form-check-label {
    padding-left: 5px;
    line-height: 1.2rem;
}
.teacher-item fieldset {
    margin-bottom: 0;
}
@media (max-width:722px) {
    .teacher-info {
        width: 45%;
    }    
    .teacher-item .form-check-inline+.form-check-inline {
        margin-top: .5rem;
    }
}
@media (max-width:662px) {
    .teacher-info {
        width: 40%;
    }  
}
@media (max-width:612px) {
    .teacher-info {
        width: 35%;
    }  
}
@media (max-width:570px) {
    .teacher-item .form-check-inline {
        margin-right: 1rem;
    }
}
@media (max-width:496px) {
    .teacher-info {
        width: 100%;
    }  
    .teacher-item .form-check-inline+.form-check-inline {
        margin-top: 1rem;
    }
}
@media (max-width:400px) {
    .teacher-item {
        padding: 8px 10px;
    }
    .teacher-info {
        width: 90%;
    }
    .teacher-info .info .name {
        font-size: 1rem;
        font-weight: bold;
    }
    .teacher-item .form-check-inline+.form-check-inline {
        margin-top: 0.5rem;
    }
    .teacher-item .form-check-inline {
        margin-right: 0;
    }
}
@media (max-width:350px) {
    .teacher-info {
        width: 85%;
        margin-right: 10px;
    }
    .teacher-item {
        padding: 8px;
    }
}
@media (max-width:335px) {
    .teacher-item {
        padding: 8px 0;
    }
}

/* chooseModal */
#chooseModal .modal-body {
    padding-bottom: 0;
}
#chooseModal .modal-footer {
    padding: 0 0.75rem;
    border: none;
}
#chooseModal .modal-footer .btn+.btn {
    margin-left: 10px;
}
@media (max-width: 991px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0 auto;
    }
}